[2015-02-18 09:53] LaurinStrelow opened #1 "optimize file does not get closed"
Hi,

i think i found a bug. When using the the constant memory mode, the worksheet creates temporary files, as i can see this that files never get closed. After creating a large amount of worksheets (on iOS about 300), the system does not create new tempfiles and returns null instead, because there are too many   (temp) files open.

[2015-02-18 10:19] jmcnamara commented on #1
Hi,

The temp files aren't closed while the calling program is running since they may still be required for writing.

The [Python version of the module](https://github.com/jmcnamara/XlsxWriter) has an undocumented facility to allow the user to  close and if necessary re-open the temp files. This was to workaround a similar open file limit on Windows.

I'll look at adding something similar to libxl

[2015-02-18 17:35] LaurinStrelow commented on #1
This sounds as a good solution. However at the moment the optimize files never get closed, even if the workbook gets closed or the worksheet freed and the file is not needed anymore.

[2015-02-19 17:26] jmcnamara commented on #1
Yes. There is that issue as well. I'll fix it in the next few days.

Is that the issue that you are having or are you also trying to generate a workbook with > 300 worksheets?

John

[2015-02-19 18:38] LaurinStrelow commented on #1
Yes this was the issue i have. I make to workbooks with about 200 worksheets and the second workbook won't complete. But i think it is better to have the possibility to close the file and won't get near the file limit anytime later, if more worksheets are needed.

[2015-02-23 20:38] jmcnamara commented on #1
Test case:

[code]

[2015-02-23 20:47] jmcnamara commented on #1
Hi,

I've pushed a fix to master for the tmpfile issue in `constant_memory mode`. You can try it when you get a chance.

You should open a second, feature request, issue for the extension to open/close the tempfiles during the life of the workbook.

P.S. For iOS did you have to use downgrade the version of the zlib libraries as shown [here](http://kvurd.com/blog/building-libxlsxwriter-for-ios/)?

[2015-02-24 08:06] LaurinStrelow commented on #1
Hi,

thank you! This solves my issue. I will open another issue for the feature request.
I did not had to downgrade the zlib. The app has already mailcore installed via cocoapods, their binary includes minizip. Therefore i did not need to install minizip or take care of zlib. They are using the preinstalled library. However i needed to replace the `zipOpenNewFileInZip4_64` with `zipOpenNewFileInZi

[2015-02-24 08:10] #1 closed

[2015-02-24 08:13] LaurinStrelow opened #2 "Feature request: Add option to close worksheets without closing workbook"
Hi,

it would be great to have the possibility to close worksheets. This avoids to reach the file limit with arbitrary large workbooks.

Thanks!

[2015-02-27 16:10] LaurinStrelow opened #3 "add cell sets wrong format"
Hi,

consider this example:

[code]

This is the result i get:
![excel_bug](https://cloud.githubusercontent.com/assets/1918073/6415608/683fcb7e-bea0-11e4-9933-1d6651cb5cfe.png)

You may note that the the cells are generated with the wrong format.
This is how it should look like:

![excel_correct](https://cloud.githubusercontent.com/assets/1918073/6415784/786540fa-bea1-11e4-9020-df866c44eea6.png)

[2015-02-27 16:44] jmcnamara commented on #3
Hi Laurin,

Thanks, I'll take a look at it.

John

[2015-03-01 12:44] jmcnamara commented on #3
Hi,

I've pushed a fix for this to master. I've included a test case based on your report but you can verify it yourself and let me know.

Thanks for the bug report.

John

[2015-03-01 17:17] LaurinStrelow commented on #3
Hi,

everything is now working as expected.

Thank you!

[2015-03-01 17:17] #3 closed

[2015-06-18 16:57] LaurinStrelow commented on #2
Hi,

is there something new on this? I get complaints from users, who run into this issue (Anything else is working great!). Are you planning to fix this soon? If not i can try to find a solution.

[2015-06-19 19:09] aalvarado opened #5 "OSX yosemite make results in: unknown type name 'z_crc_t'"
Unable to compile on OSX Yosemite

I installed both zlib from homebrew-dupes and minizip but I'm unable to use export flags in the Makefile.

Please advice.

[code]

[2015-06-20 09:49] jmcnamara commented on #5
Hi Adan,

I don't normally use homebrew to get libs so I'll look into that. I have an idea why it isn't working.

In the meantime can you install Zlib using the method suggested in the [Getting Started](http://libxlsxwriter.github.io/getting_started.html) section of the docs. I use that on OS X and it works fine.

John

[2015-06-20 09:54] jmcnamara commented on #2
Hi Laurin,

If there isn't an update to this issue then there hasn't been anything new.

To be honest this is a low priority issue for me. I find it hard to see why people need to produce workbooks with 1000+ worksheets (or whatever their ulimit is) or that they can't increase the ulimit if they do.

So if you can find a solution, such as increasing the system ulimit, then please do.

John

[2015-06-22 16:38] aalvarado commented on #5
will do, and report back, thanks!

[2015-06-22 20:33] aalvarado commented on #5
following the getting started guide did work, thanks!

[2015-07-19 03:14] wangjinbao123 commented on #2
hi,can you help me to use it in ios ?

[2015-07-20 21:07] jmcnamara commented on #2
@wangjinbao123 You shouldn't ask a new question on an older issue. If you have a new question please open a new issue. See the following in relation to your question [Building libxlsxwriter for iOS](http://kvurd.com/blog/building-libxlsxwriter-for-ios/).

[2015-07-28 21:38] aalvarado commented on #5
I was able to compile zlib separately and make minizip compile by placing the libs from zlib two directories above and running make.

[2015-07-29 06:46] LaurinStrelow commented on #2
Hi there,

@jmcnamara I fully understand you. The worksheet is generated automatically from an input set and therefore the limit can be reached easier. In the meantime i have developed a fix for this problem, wich is working good so far. However getting the temp directory relies on the objc runtime and therefore this is no general solution. If you are interested i can open a pull request (This can

[2015-08-18 08:08] mts749 opened #6 "Feature request: add support for charts"
I noticed that chart creation is supported in the Python version. Would it be possible to add this capability to the C library?

Thanks,
Martin

[2015-08-18 20:58] jmcnamara commented on #6
Hi,

That is the plan. The features will probably mirror the XlsxWriter features, in the same order of addition.

John

[2015-08-19 15:57] mts749 commented on #6
Thanks very much.

Is there somewhere I can look to see the history of the XlsxWriter feature additions?

Also, not sure if this is the correct venue, but I would like to commend you on these libraries. The code is very clean and elegant and the documentation is beautiful. Well done!

Martin

[2015-08-19 17:47] jmcnamara commented on #6
Whoops, sorry, I meant to add a link to the XlsxWriter Changes file. [Here it is](https://xlsxwriter.readthedocs.org/changes.html).

Thanks. :-)

[2015-09-25 03:03] mts749 commented on #6
Just wondering if you have an ETA/schedule for porting the XlsxWriter features to libxlsxwriter?

Also, I'm happy to contribute to this effort if desired.

Martin

[2015-09-25 08:22] jmcnamara commented on #6
I try to avoid setting any time expectations but I would say that something like charts in libxlsxwriter is at least 6 months away.

Perhaps https://github.com/dbzhang800/QtXlsxWriter might more useful to you in the meantime.

[2015-09-25 12:16] mts749 commented on #6
Thanks for this. I had a quick look at the project. I'm hesitant to move to another library just for charts especially since I have built a (small, and admittedly incomplete) objC interface on top of libxlsxwriter.

I think I'll just wait for the features to be ported and concentrate on other aspects of my application.

[2015-09-28 18:22] paoloveggi opened #8 "IOS SWIFT integration"
Hi, i installed the library in my swift project using cocoapods. I just add pod instructions in my podfile and then run "pod install". Now I can see the framework in my list of files, but i don't know how to use library inside my swift files...anyone can help me? I cannot find a working example of the code inside a swift project...

I try copying the sample code from documentation, but xcode says

[2015-09-28 19:23] jmcnamara commented on #8
I don't use the library within Xcode so I can't answer.

@lrossi supplied the cocoapod so he may be able to answer.

Or else just ask the question on StackOverflow.

[2015-09-30 12:07] evgenybf opened #9 "MinGW and libxlsxwriter produce invalid xlsx files on Windows Vista and above"
I've build libxlsxwriter with MinGW (MSYS2 i686/x64)
gcc--version
gcc.EXE (Rev3, Built by MSYS2 project) 5.2.0

Test results:
https://gist.github.com/evgenybf/76283e50a20325964ca6#file-libxlsxwriter-test-results-on-windows

All files produced by the libxlsxwriter are invalid: inside of the archives lie empty files like [Content_Types].xml, .rels etc

[2015-09-30 14:16] jmcnamara commented on #9
Hi Evgeny,

Nice to hear from you again. Have you given up on Python. ;-)

The tests are all passing on Linux with gcc and clang (https://travis-ci.org/jmcnamara/libxlsxwriter) and also on MacOS.

Q1. I haven't used MinGW. Perhaps you can detail some steps to set it up and how to reproduce the issue?

The functional test are all failing with variants of "The system cannot find the path specified."

[2015-09-30 16:41] evgenybf commented on #9
Hi John,

I didn't expect that you remember me.  I really appreciate it. Thanks.
Python - forever! ;-). But now I am trying to take up the Go language and have plans to make simple bindings for generating xlsx files from Go.

I just got the installer from http://sourceforge.net/projects/msys2/, updated your Makefiles to disable building of.so files, run make and that's it.

Almost all the tests fa

[2015-09-30 17:14] jmcnamara commented on #9
That sounds like the issue. The code relies heavily on `tempfile()`.

I don't think I'll be able to help you on this since I've never used Msys2. If you find a fix let me know.

[2015-09-30 17:19] evgenybf commented on #9
[code]
`file_size` is always equal to -1!

[2015-09-30 18:00] evgenybf commented on #9
Some news:
According to https://msdn.microsoft.com/en-us/library/x8x7sakw.aspx tmpfile() on Windows creates temporary files in the root directory and therefore needs admin privileges...

The tests are passed when I run them as administrator...

[2015-09-30 19:08] jmcnamara commented on #9
Aargh! I should have thought of that first thing when you mentioned temp files and Windows.

That is the reason the Python and Perl modules have a [tmpdir][1] option to avoid that very problem:
[1]: https://xlsxwriter.readthedocs.org/workbook.html#constructor

[2015-09-30 19:17] jmcnamara commented on #9
Can you try settin the `TMPDIR`, `TEMP`, or `TMP` environmental variable to control where the tmp dir is?

[2015-09-30 19:22] evgenybf commented on #9
I've tried this:
[code]
..and  the same for c:/temp as well. The same errors.

[2015-09-30 22:39] jmcnamara commented on #9
I'm only guessing because I don't know how the msys2 "shell" works but maybe the TMPDIR needs to be set in the Windows environment and not in the shell. What does the following print with and without the `set TMPDOR`:

[code]
Or perhaps it doesn't matter and, as you say, it doesn't have an effect on `tmpfile()` either way.

It seems odd that there isn't some way to workaround this in msys2. It see

[2015-10-01 05:10] evgenybf commented on #9
I've tried it from the both places

Perl from msys prints `/tmp`

Anyway, microsoft documentation (link above) says that it needs adminstrator rights:

[2015-10-01 07:22] jmcnamara commented on #9
That is interesting. If the a C program sees the same directory (and it probably does) then maybe you can map it to a writeable directory using the msys2 `fstab` file. But maybe not based on your links.

I don't disagree. And if that is sufficient for your needs then that is okay.

That's interesting. Thanks for the update.

If there is no further updates in a few days I will close this issue (or

[2015-10-01 07:43] evgenybf commented on #9
No, that's not sufficient for me at all. That's just a temporary workaround to make sure that tmpfile() is the culprit. On Linux nobody wants to run ordinary tools as root, don't they? I'll try to find more descent solution...

[2015-10-04 01:35] jmcnamara commented on #9
Try something like the following:

[code]

It is available on the mkstemp branch. Change the template to suit your system.

It isn't ansi compatible however.

[2015-10-05 15:47] evgenybf commented on #9
Interesting! At first I was skeptical as it seemed (and is) useless to unlink/remove open files on Windows - the system doesn't let to do it. But mkstemp works well by itself - the temporary files get deleted just after they are closed. Thank you!

[2015-10-07 15:25] ricardas opened #10 "Issue with formatting"
This is snippet from my code:

lxw_format *format = workbook_add_format(workbook);

format_set_font_color(format, 0xff0000); // set red color
worksheet_write_string(worksheet, 0, 0, "Red", format); // write to cell
format_set_font_color(format, 0x00ff00); // set green color
worksheet_write_string(worksheet, 0, 1, "Green", format); // write to another cell

why both cells have green font color?

[2015-10-07 16:03] jmcnamara commented on #10
That is the documented behavior. See the [Workong with Formats](http://libxlsxwriter.github.io/working_with_formats.html) section of the docs.

[2015-10-07 16:06] ricardas commented on #10
Oh, i didn't notice that. All is clear now, thanks.

[2015-10-07 16:06] #10 closed

[2015-10-16 00:56] ngiraldo opened #11 "Compilation fails in Centos 6.2"
As described.

Please inform us in which versions of CentOS does the library work.

[2015-10-16 01:05] jmcnamara commented on #11
Can you add a trace of the build failure.

[2015-10-16 03:11] ngiraldo commented on #11
Hello, I'm not at the office until tomorrow.

I just remember that's not the library itself failing, but the minizip dependency, which in CentOS can be installed via yum.

[2015-10-16 08:30] jmcnamara commented on #11
The [Getting Started](http://libxlsxwriter.github.io/getting_started.html) guide explains that zlib 1.2.8 is required. Did you install that?

Snippet:

[code]

[code]

[2015-10-16 15:47] ngiraldo commented on #11
I have no problems with Ubuntu.

In CentOS I have zlib-devel-1.2.3-29.el6.x86_64.

Will update to 1.2.8.

[2015-10-19 07:16] jmcnamara opened #12 "Library raises a misleading error when the file isn't writeable"
The following misleading errors are usually generated when the output file or directory isn't writeable:

    cd libxlsxwriter
    make examples
    ./examples/hello
    # Creates hello_world.xlsx

    chmod -w hello_world.xlsx
    ./examples/hello

    [ERROR][packager.c:62]: Error opening zip file for xlsx
    [ERROR][workbook.c:1108]: Memory allocation failed.

[2015-10-19 20:52] ngiraldo commented on #11
Sorry, the issue is that Centos 6 has painfully old libraries.

It works fine with the manual zlib install.

[2015-10-19 20:52] #11 closed

[2015-11-07 23:33] #5 closed

[2015-11-07 23:33] #12 closed

[2015-11-07 23:34] jmcnamara commented on #9
Closing. Use workaround if required.

[2015-11-07 23:34] #9 closed

[2015-11-07 23:34] #8 closed

[2015-12-01 16:00] eroncastro opened #15 "Memory leak while embedding C libxlsxwriter in Ruby"
Hi! First of all, thank you for this wonderful lib.

I am trying to use it within my Ruby on Rails project by calling it using FFI. But, when deploying it to my production server, I am getting memory leaks that generate files which names contains some parts of the content of my .xlsx, not in the directory it was called, by in the root directory of my application.
Yesterday, I also got the problem:

[2015-12-01 16:36] jmcnamara commented on #15
The libxlsxwriter lib creates some temporary files that are zipped/assembled into a xlsx file. It is possible that if the application fails that these temp files are left behind. Typically they are xml files.

This shouldn't be causing a memory leak though.

    [ERROR][packager.c:62]: Error opening zip file for xlsx
    [ERROR][workbook.c:1108]: Memory allocation failed.

This is a misleading err

[2015-12-01 16:50] eroncastro commented on #15
Thank you for answering.

I already use write_xlsx gem. The problem with it is that it consumes too much memory when exporting a large number of rows (~ 1MM), which makes my app to stop the process in order not to fall.
When I used your solution embedded with my Rails app in constant memory mode, it only consume 2% of my machine RAM and took only 30 seconds to generate my .xlsx file. I'm going to

[2015-12-01 17:02] jmcnamara commented on #15
I didn't realise that the Ruby port hadn't ported the constant_memory/optimization mode. It was in the original Perl module and is in my Python and Lua versions as well.

[2015-12-01 19:45] eroncastro commented on #15
I used strace command to attach it to the process. The error I get is the following:

open("/var/www/app/public/exports/ff/c3/8e/ffc38ef077171f690eb01cfe8792845b/test.xlsx", O_WRONLY|O_CREAT|O_TRUNC, 0666) = -1 EACCES (Permission denied)
write(2, "[ERROR][packager.c:62]: Error op"..., 56) = 56
write(2, "[ERROR][workbook.c:1108]: Memory"..., 52) = 52
write(1, "=> 1\n", 5)

I just did not realise ye

[2015-12-08 11:42] jmcnamara commented on #15
Closing this issue because it looks more like a permissions issue than a libxlsxwriter issue.

Note, the current HEAD version gives a clearer error message in this condition:
[code]

[2015-12-08 11:42] #15 closed

[2015-12-10 21:03] jmcnamara opened #17 "Feature request: worksheet_set_zoom()"
Add `worksheet_set_zoom()` function like the Python XlsxWriter Worksheet method `set_zoom()`.
See https://xlsxwriter.readthedocs.org/worksheet.html

* Difficulty: 1 (Easy 1 - 5 Hard)
* Priority: 1 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:03] jmcnamara opened #18 "Feature request: worksheet_right_to_left()"
Add `worksheet_right_to_left()` function like the Python XlsxWriter Worksheet method `right_to_left()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 1 (Easy 1 - 5 Hard)
* Priority: 1 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:04] jmcnamara opened #19 "Feature request: worksheet_hide_zero()"
Add `worksheet_hide_zero()` function like the Python XlsxWriter Worksheet method `hide_zero()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 1 (Easy 1 - 5 Hard)
* Priority: 1 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:05] jmcnamara opened #20 "Feature request: worksheet_set_tab_color()"
Add `worksheet_set_tab_color()` function like the Python XlsxWriter Worksheet method `set_tab_color()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 1 (Easy 1 - 5 Hard)
* Priority: 1 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:06] jmcnamara opened #21 "Feature request: worksheet_set_selection()"
Add `worksheet_set_selection()` function like the Python XlsxWriter Worksheet method `set_selection()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 1 (Easy 1 - 5 Hard)
* Priority: 1 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:06] jmcnamara commented on #21
Implemented in version 0.2.0.

[2015-12-10 21:06] #21 closed

[2015-12-10 21:07] jmcnamara opened #22 "Feature request: worksheet_hide()"
Add `worksheet_hide()` function like the Python XlsxWriter Worksheet method `hide()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 1 (Easy 1 - 5 Hard)
* Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:10] jmcnamara opened #23 "Feature request: worksheet_set_first_sheet()"
Add `worksheet_set_first_sheet()` function like the Python XlsxWriter Worksheet method `set_first_sheet()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 1 (Easy 1 - 5 Hard)
* Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:10] jmcnamara opened #24 "Feature request: worksheet_write_blank()"
Add `worksheet_write_blank()` function like the Python XlsxWriter Worksheet method `write_blank()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 1 (Easy 1 - 5 Hard)
* Priority: 4 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:11] jmcnamara opened #25 "Feature request: workbook_set_properties()"
Add `workbook_set_properties()` function like the Python XlsxWriter Workbook method `set_properties()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 2 (Easy 1 - 5 Hard)
* Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:12] jmcnamara opened #26 "Feature request: worksheet_protect()"
Add `worksheet_protect()` function like the Python XlsxWriter Worksheet method `protect()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 2 (Easy 1 - 5 Hard)
* Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:12] jmcnamara opened #27 "Feature request: worksheet_set_default_row()"
Add `worksheet_set_default_row()` function like the Python XlsxWriter Worksheet method `set_default_row()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 2 (Easy 1 - 5 Hard)
* Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:13] jmcnamara opened #28 "Feature request: worksheet_insert_image()"
Add `worksheet_insert_image()` function like the Python XlsxWriter Worksheet method `insert_image()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 3 (Easy 1 - 5 Hard)
* Priority: 1 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:13] jmcnamara opened #29 "Feature request: workbook_add_vba_project()"
Add `workbook_add_vba_project()` function like the Python XlsxWriter Workbook method `add_vba_project()`.
See https://xlsxwriter.readthedocs.org/index.html
- Difficulty: 3 (Easy 1 - 5 Hard)
- Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

If you would like to make a donation to accelerate this feature you can do so via [PayP

[2015-12-10 21:14] jmcnamara opened #30 "Feature request: worksheet outlines"
Add worksheet outline functionality and like the Python XlsxWriter:

https://xlsxwriter.readthedocs.io/working_with_outlines.html

- Difficulty: 3 (Easy 1 - 5 Hard)
- Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:14] jmcnamara opened #31 "Feature request: worksheet_data_validation()"
Add `worksheet_data_validation()` function like the Python XlsxWriter Worksheet method `data_validation()`.
See https://xlsxwriter.readthedocs.io/working_with_data_validation.html
- Difficulty: 4 (Easy 1 - 5 Hard)
- Priority: 2 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:15] jmcnamara opened #32 "Feature request: worksheet_conditional_formatting()"
Add `worksheet_conditional_formatting()` function like the Python XlsxWriter Worksheet method `conditional_formatting()`.
See http://xlsxwriter.readthedocs.io/working_with_conditional_formats.html
- Difficulty: 4 (Easy 1 - 5 Hard)
- Priority: 2 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

If you would like to make a donation to accele

[2015-12-10 21:16] jmcnamara opened #33 "Feature request: worksheet_add_table()"
Add `worksheet_add_table()` function like the Python XlsxWriter Worksheet method `add_table()`.
See https://xlsxwriter.readthedocs.io/working_with_tables.html#tables
- Difficulty: 4 (Easy 1 - 5 Hard)
- Priority: 2 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:16] jmcnamara opened #34 "Feature request: worksheet_filter_column()"
Add `worksheet_filter_column()` function like the Python XlsxWriter Worksheet method `filter_column()`.
See https://xlsxwriter.readthedocs.org/index.html
- Difficulty: 4 (Easy 1 - 5 Hard)
- Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

If you would like to make a donation to accelerate this feature you can do so via [PayPal

[2015-12-10 21:18] jmcnamara opened #35 "Feature request: worksheet_add_sparkline()"
Add `worksheet_add_sparkline()` function like the Python XlsxWriter Worksheet method `add_sparkline()`.
See https://xlsxwriter.readthedocs.org/index.html
- Difficulty: 4 (Easy 1 - 5 Hard)
- Priority: 4 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

If you would like to make a donation to accelerate this feature you can do so via [PayPal

[2015-12-10 21:19] jmcnamara opened #36 "Feature request: workbook_add_chart()"
Add `workbook_add_chart()` function like the Python XlsxWriter Workbook method `add_chart()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 5 (Easy 1 - 5 Hard)
* Priority: 1 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:21] mts749 commented on #36
+1

[2015-12-10 21:21] jmcnamara opened #37 "Feature request: worksheet_write_rich_string()"
Add `worksheet_write_rich_string()` function like the Python XlsxWriter Worksheet method `write_rich_string()`.
See https://xlsxwriter.readthedocs.org/index.html

* Difficulty: 5 (Easy 1 - 5 Hard)
* Priority: 2 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:22] jmcnamara opened #38 "Feature request: worksheet_write_comment()"
Add `worksheet_write_comment()` function like the Python XlsxWriter Worksheet method `write_comment()`.
See https://xlsxwriter.readthedocs.io/working_with_cell_comments.html
- Difficulty: 5 (Easy 1 - 5 Hard)
- Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

If you would like to make a donation to accelerate this feature you c

[2015-12-10 21:22] jmcnamara opened #39 "Feature request: worksheet_insert_button()"
Add `worksheet_insert_button()` function like the Python XlsxWriter Worksheet method `insert_button()`.
See https://xlsxwriter.readthedocs.org/index.html
- Difficulty: 5 (Easy 1 - 5 Hard)
- Priority: 5 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2015-12-10 21:40] nelson2005 commented on #36
+1

[2015-12-10 21:41] nelson2005 commented on #29
+1

[2015-12-10 21:42] nelson2005 commented on #28
+1

[2015-12-10 22:38] mrenters commented on #24
Doesn't this function already exist?

[2015-12-10 22:48] jmcnamara commented on #24
Indeed it does. Looks like I'm ahead for the night already. :-)

[2015-12-10 22:48] #24 closed

[2015-12-10 23:35] #17 closed

[2015-12-10 23:50] #19 closed

[2015-12-11 00:12] #18 closed

[2015-12-11 09:47] jmcnamara commented on #6
Closing this in favour of the same feature request at #36.

[2015-12-11 09:47] #6 closed

[2015-12-12 23:31] #20 closed

[2015-12-13 13:46] #23 closed

[2015-12-13 16:14] #22 closed

[2015-12-13 22:50] #25 closed

[2015-12-16 10:02] sw1020 opened #42 ""Content is Unreadable" error when strings contain control characters"
Issue with Content is Unreadable. Open and Repair

I am using libxlsxwriter to make a node addon.

I found : when I write the utf-8 string with some special characters , it will cause  the problem
for exzample:   <Buffer e5 9b be 14 e5 9b be>

pls help

[2015-12-16 10:15] jmcnamara commented on #42
The "Content is Unreadable. Open and Repair" error is Excel's standard warning for any validation error in the XML used for the components of the XLSX file. It doesn't really help to identify the problem.

You will need to submit a small working example that demonstrates the issue. See the [Bug Reporting Guidelines](https://github.com/jmcnamara/libxlsxwriter/blob/master/CONTRIBUTING.md).

Note, li

[2015-12-16 12:11] sw1020 commented on #42
sorry
the utf-8 string example (in hex): e5 9b be 14 e5 9b be
if i replace 0x14 to 0x20 ,it will work fine

[2015-12-16 13:26] jmcnamara commented on #42
The non-unicode character 0x14 is a control character. These aren't currently supported in libxlsxwriter.

I'll fix that in a later version but for now make sure that your strings don't contain control characters.

[2015-12-16 13:43] jmcnamara commented on #42
Here is an example program that demonstrates the issue:

[code]
And here is a working example with the control character replaced with a space:

[code]

[2015-12-19 15:44] #26 closed

[2015-12-21 10:21] jmcnamara commented on #42
Fixed in version 0.2.7 and the master HEAD on Github.

Thanks.

[2015-12-21 10:21] #42 closed

[2015-12-22 01:10] #27 closed

[2016-01-02 01:41] jmcnamara opened #43 "Feature request: images in headers and footers"
Add option to insert image in headers and footer like the Python XlsxWriter Worksheet methods `set_header()` and `set_footer`.
See https://xlsxwriter.readthedocs.org/page_setup.html#worksheet-set-header
- Difficulty: 3 (Easy 1 - 5 Hard)
- Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

If you would like to make a donation to

[2016-01-02 01:45] jmcnamara commented on #28
Support for this feature has been merged onto master. Documentation will be added in the next few days but it is functional if you want to try it out.

See the demo.c program in the examples dir on master. It produces this file:

![screenshot](https://cloud.githubusercontent.com/assets/94267/12072867/3103099c-b0f2-11e5-879e-df791971759a.png)

Note, images in headers and footers aren't currently su

[2016-01-03 19:12] #28 closed

[2016-01-03 19:36] jmcnamara commented on #36
Note, the Phase 1 features are now complete. Since there seems to be more interest in charts than in other features I've move this to the next in line feature.

It will take several months. I'll post updates as soon as there is some working code.

[2016-01-03 19:52] mts749 commented on #36
Great!! Many thanks. If I can help in any way please let me know.

[2016-02-03 20:47] burlen opened #45 "worksheet_write_column api"
Hi, I am about to start using your library, it is a god send that I don't have to do this from scratch, thank you!

After reading your API I have some concern about performance. I believe it would be easy to demonstrate as it is a well known issue with C API, a function call on an inner loop creates a bottleneck. Function calls themselves are rather heavy operation. Especially where memcpy would s

[2016-02-04 13:15] jmcnamara commented on #45
Hi Burlen,

Thanks for the suggestion. The dynamic language versions of this library in Python, Perl and Lua have a function just like.

However, for the way that libxlsxwriter handles it data internally this wouldn't help performance. Also, the library handles different data types (strings, numbers, formulas, urls, blanks) and each one of them would need a `write_column()` handler.

Thanks for th

[2016-02-04 13:15] #45 closed

[2016-02-04 17:08] burlen commented on #45
Yeah, browsing the source code, I'm noticing that under the covers things are not gearedtoward performance. Unfortunately, without a major rewrite this library isn't going to provide the level of performance we need. I'm glad we found this out now! Thanks for the feedback.

[2016-02-04 17:16] jmcnamara commented on #45
No problem.

[2016-02-04 19:48] burlen commented on #45
btw, I still think you have the best solution out there! Thanks so much for publishing it freely and interacting with the community!

[2016-02-17 14:21] eroncastro opened #46 "Feature request: tmpdir"
From https://xlsxwriter.readthedocs.org/workbook.html
- "tmpdir: XlsxWriter stores worksheet data in a temporary files prior to assembling the final XLSX file. The temporary files are created in the system’s temp directory. If the default temporary directory isn’t accessible to your application, or doesn’t contain enough space, you can specify an alternative location using the tempdir option:"

Co

[2016-02-17 15:16] jmcnamara commented on #46
Hi Eron,

I implemented a workaround for this in the following patch:

https://github.com/jmcnamara/libxlsxwriter/commit/211dacdfd87978a1c0ac040177c1cb6eda06b445

However, it isn't ANSI C compliant so it isn't integrated into the master branch.

You can try it out in your own code to see if it works for you.

John.

[2016-03-22 20:24] slugdev commented on #36
+1

[2016-04-07 17:46] evanmiller opened #47 "Feature request: worksheet_write_boolean()"
Add `worksheet_write_boolean()` function like the Python XlsxWriter Worksheet method `write_boolean()`.
See https://xlsxwriter.readthedocs.org/worksheet.html#write_boolean

[2016-04-07 23:26] jmcnamara commented on #47
Done: http://libxlsxwriter.github.io/changes.html

[2016-04-07 23:26] #47 closed

[2016-04-08 12:41] evanmiller opened #48 "Feature request: Per-cell indentation"
Hi, I am currently porting code from xlslib over to libxlsxwriter. One of the incompatibilities I'm hitting is that xlslib allows setting certain attributes on a per-cell basis, including indentation and font, without explicitly defining a workbook-wide format.

I am unfamiliar with XLSX internals, but I would like to request the ability to set the indentation of each cell without having to define

[2016-04-08 12:59] jmcnamara commented on #48
The main issue here is that in Excel indentation and fonts are part of formats and are workbook wide. The library could hide that but for now it doesn't.

I feel your pain.This is a frequently requested feature in the Perl and Python versions as well.

However, realistically it isn't going to be implemented in the short term until it is implemented first in the other versions and ported over.

[2016-05-02 23:40] jmcnamara commented on #36
Just a note that I have started the chart implementation. It is on a development branch called charts but it is **not** ready for general consumption yet.

Nevertheless, I wanted to share the first working example:

[code]
Which gives this output:

![screen shot 2016-05-03 at 00 17 20](https://cloud.githubusercontent.com/assets/94267/14971097/dc4d2ad8-10c6-11e6-98c7-a51ff5fa37f7.png)

I'll post an

[2016-05-03 09:41] #46 closed

[2016-05-04 15:09] nelson2005 commented on #36
Sweet!  It's great to see this progress on the charting!
On May 2, 2016 7:40 PM, John McNamara <notifications@github.com> wrote:Just a note that I have started the chart implementation. It is on a development branch called charts but it is not ready for general consumption yet.

Nevertheless, I wanted to share the first working example:

#include "xlsxwriter.h"

int main() {

    lxw_workbook  *wo

[2016-05-23 00:08] jmcnamara commented on #36
The chart work is stable now and I have moved it to the master branch in preparation for a release in the next few days.

This took a bit of work:

    $ git diff master --stat
    ...
    235 files changed, 10238 insertions(+), 583 deletions(-)

I've updated the documentation see: [chart.h](http://libxlsxwriter.github.io/chart_8h.html) and the [chart example](http://libxlsxwriter.github.io/exampl

[2016-05-23 00:41] nelson2005 commented on #36
Wow, you've been busy!  This is such a cool project.  Great work, I imagine it must be a little tedious for you, having done similar work a number of times before in Python/Perl/Lua
My main interest is the Lua end of things.  Have  you run into anyone else who has an interest in a Lua binding for libxlsxwriter?
Erik
On May 22, 2016 8:08 PM, John McNamara <notifications@github.com> wrote:The chart

[2016-05-24 07:25] jmcnamara commented on #36
@nelson2005 I'll open up a new Feature Request issue for Lua bindings to let people know. There are a couple of people who were active on the pure Lua port who might be interested in helping out. I'm not. :-)

[2016-05-24 07:26] jmcnamara commented on #36
The chart feature has been merged to master and released. I'll close this issue shortly when I open up some others to track the missing features.

[2016-05-29 16:38] evanmiller opened #49 "Crash in lxw_worksheet_assemble_xml_file"
Hi, I am using libxlsxwriter 0.3.2 in a Mac program. I recently received a customer crash report that appears to originate inside libxlsxwriter. Here are the relevant bits:

[code]

It looks like there is a NULL pointer being dereferenced as part of a struct. I am not sure if it matters but the code is running on a background thread. I received the crash report automatically via Apple so I'm afrai

[2016-05-29 17:00] jmcnamara commented on #49
Hi Evan,

I haven't had any other reports of this nature. Also, and I'm sure you know this, there isn't enough information there to debug it.

The library isn't thread safe. Are you writing to a worksheet using multiple threads by any chance?

At a guess it looks like the worksheet is trying to write to a filehandle that has already been closed.

John

[2016-05-29 17:11] evanmiller commented on #49
All the activity is on the same thread.

This may or may not be related, but I have also received reports that `LXW_ERROR_WORKBOOK_FILE_CREATE` is being returned for some users -- I wonder if there is some issue with sandboxing and perhaps writing to temporary files.

As for writing to a closed file handle -- is it possible to return an error rather than crash if that's what's happening here?

I r

[2016-05-29 17:51] jmcnamara commented on #49
Interesting. `LXW_ERROR_WORKBOOK_FILE_CREATE ` only occurs in one place in workbook.c:

[code]

As you can from the comment this error usually occurs when the lib (or in this case zlib) fails to create the overall zip container. This could be due to

* A lack of permission to create or overwrite the target xlsx file.
* Trying to create the target in an unwritable directly.
* If this was Windows I

[2016-05-29 18:28] evanmiller commented on #49
I am guessing it is some kind of permissions issue, rather than exceeding the file handle limit. (Given the application design it is implausible a user will have thousands of worksheets exported.) I am able to reproduce the `LXW_ERROR_WORKBOOK_FILE_CREATE` when I try exporting to an unwritable directory, for instance. (In the stderr log I do see the "Permission denied" message.)

I haven't been ab

[2016-05-29 18:50] jmcnamara commented on #49
I think the tempfile is the issue.

Try the following with this patch:

[code]

Then:

[code]

[2016-05-29 18:53] jmcnamara commented on #49
And the backtrace looks similar:

[code]

[2016-05-29 19:42] evanmiller commented on #49
Yep, that looks just like the original crash report (modulo some function inlining).

Any chance of providing an error path whenever `lxw_tmpfile` is called?

[2016-05-29 20:07] jmcnamara commented on #49
Yes. I'm working on it. I'll push something today or tomorrow.

[2016-05-29 21:03] evanmiller commented on #49
Thanks!

[2016-05-29 23:44] jmcnamara commented on #49
I pushed a change to master that should prevent the segfault and give a proper error message.

There are still a few potential error conditions in the Zip code that I need to handle but these are a bit more esoteric. I'll ping you back in the next couple of days when I'm confident that all the error vectors are handled properly.

In the meantime you can try the code on the master branch.

[2016-05-30 00:14] evanmiller commented on #49
Thanks, will try it out.

Incidentally is there an lxw version of `strerror`? Right now I have to update my code to produce human-readable messages for new error codes like `LXW_ERROR_WORKBOOK_TMPFILE` -- I don't want to miss any codes introduced in future releases. Happy to open a new issue if not.

[2016-05-30 07:13] jmcnamara commented on #49
That's a good suggestion. I'll look into adding it.

[2016-05-30 22:02] jmcnamara commented on #49
I've pushed a fix for this an other potential file failure issues.

However, for consistency I've renamed some of the error codes. Hopefully that won't require too much work on your part to change your error handling and the additional effort will be worth it.

I've also added a `lxw_strerror` function, see the `example/anotomy.c` program and the updated docs:

* http://libxlsxwriter.github.io/com

[2016-05-31 02:49] evanmiller commented on #49
Looks good to me, thanks! This issue is resolved as far as I'm concerned. Closing.

[2016-05-31 02:49] #49 closed

[2016-05-31 08:20] jmcnamara commented on #49
Packaged and release as version 0.3.5.

Thanks for the report.

[2016-06-01 19:40] AlfonsoUceda commented on #15
@eroncastro do you have your wrapper open sourced?

@jmcnamara sorry if this bothers you

[2016-06-13 22:29] jmcnamara opened #51 "Feature request: Add other chart features"
Add chart functions like the Python XlsxWriter module.
See https://xlsxwriter.readthedocs.org/index.html

Formatting:
- [x] Chart formatting: Line/Border
- [x] Chart formatting: Solid Fill
- [x] Chart formatting: Pattern Fill
- [x] Chart formatting: Fonts

Features:
- [x] Chart series option: Marker

- [x] Chart axes: Reverse
- [x] Chart axes: Max and min
- [x] Chart axes: Log base

Functions:
- [

[2016-06-13 22:31] jmcnamara commented on #36
See #51 for additional chart features. Closing this since the basic chart functionality has been added.

[2016-06-13 22:31] #36 closed

[2016-06-14 17:10] BillSheng opened #52 "Feature request:add border line functions"
I just put your library into my Xcode project and it works just fine. Thank you for your great lib.
But I have to draw border lines of cells for users want this feature as a formal excel document.
Is it possible?

[2016-06-14 22:13] jmcnamara commented on #52
Hi,

You can either use a merge range (like this [example](http://libxlsxwriter.github.io/merge_range_8c-example.html)) or else create a format for each of the cells in the range with the appropriate border components. For a 3x3 range, or larger, you will need 8 individual formats. It is a bit of work but it is doable.

John

[2016-06-14 22:13] #52 closed

[2016-06-15 01:43] BillSheng commented on #52
Hi, John,

Thank you for your example!

But I don't want to merge cells to get border line,
Would you please give me a sample to draw lines
for selected range without merge?

Thank you in advance.

SHENG

2016/06/15 7:13$B!"(BJohn McNamara <notifications@github.com> $B$N%a%C%;!<%8(B:

[2016-06-15 01:57] BillSheng commented on #52
I found the way to draw border for every cell,
Thanks!

Sheng

2016/06/15 10:43$B!"(BYongming SHENG <sheng@kernel-soft.co.jp> $B$N%a%C%;!<%8(B:

[2016-06-22 18:40] silvioprog opened #53 "How to build libxlsxwriter on Windows with MinGW-w64?"
Hello,

First, thanks for this awesome library, I've tested it on my Xubuntu and I'm impressed with its quality!

So, I'm trying to build `libxlsxwriter` (latest release, 0.3.8), but I'm not sure about my steps, that was:

[code]

The result:

[code]

And the `log.txt` content:

[code]

So, can I build libxlsxwriter with [MinGW-w64](http://downloads.sourceforge.net/project/msys2/Base/i686/msys2-i6

[2016-06-23 07:12] AlfonsoUceda opened #54 "Inserting text is handled as General category in Excel"
Hi:

@jmcnamara congrats for the work, we are using the library from a wrapper in ruby and it's amazing the speed and well structured it is.

I was making a little example using [worksheet_write_string](http://libxlsxwriter.github.io/worksheet_8h.html#a0c3e081792631511c9ee3f7507afb78c) function and I noticed excel handles the cell's category as General instead Text, can it be changed to Text in co

[2016-06-23 10:38] jmcnamara commented on #54
Hi Alfonso,

Thanks. By the way there is a Ruby port of the same Perl/Python modules that libxlsxwriter is ported from: https://github.com/cxn03651/write_xlsx

That is the same behaviour as Excel: if you create some text is a cell the format is `General`.

Yes by adding a number format of `@` (this is how Excel does it). For example:

[code]

By default Excel stores strings in a shared strings tab

[2016-06-23 10:46] jmcnamara commented on #53
Hi Silvio,

I haven't built libxlsxwriter on MinGW (I have with Cygwin64) so I can't provide you with exact commands to get it to work.

One thing I noticed in the log that looks odd is that the compiler is trying to use the `_open_zipfile_win32()` function in packager.c. That function should be MSVC specific since it is included in with a `_WIN32` define.

Do you know if MinGW also defines `_WIN3

[2016-06-23 10:51] AlfonsoUceda commented on #54
@jmcnamara thanks so much!, I'll use the @ format for string to format as text.

We aren't using that port because I need constant_memory for bigger exports with XLSX file so that's the reason we built a simple [wrapper](https://github.com/bebanjo/xlsx_writer_wrapper)

[2016-06-23 11:02] AlfonsoUceda commented on #54
@jmcnamara works perfect! thanks again and awesome library ;)

[2016-06-23 11:02] #54 closed

[2016-06-23 11:10] jmcnamara commented on #53
According to the following it looks like MinGW does define `_WIN32`: http://stackoverflow.com/questions/9025708/mingw-not-defining-win32-error-in-preprocessor-directives

Whether that is valid or not I don't know. Try changing this code in packager.c

[code]

To just:

[code]
There is one other section of code in a `_WIN32` define in the same file that you can remove if necessary.

[2016-06-23 11:13] jmcnamara commented on #54
Cool, I'll point people in the direction of that module when they ask questions.

[2016-06-23 13:49] silvioprog commented on #53
Hello @jmcnamara

So, I can use `cygwin`, do you have some doc showing the steps to build on that?

The `libxlsxwriter` is a very useful library, it should provide compiled binaries (.dll) for Windows and tar.gz for Linux.

[2016-06-23 14:09] silvioprog commented on #53
I got some progress with `cygwin`. Now the error is related to `ioapi`:

[code]

I tried it too:

[code]

Got same error.  I'm not sure what library I need to link ...

[2016-06-23 14:15] silvioprog commented on #53
Hm... it seems `make` generates .so intead of .dll:

[code]

I want to build on Windows just do get the `libxlsxwriter.dll`. :-/

[2016-06-23 14:46] jmcnamara commented on #53
Hi,

Here are the changes I made to the makefiles to get it to build in cygwin. Note, I don't know if the output dll (in the lib dir) is valid but the `.a` file is and the example programs compile and run within cygwin.

[code]

[2016-06-23 15:05] silvioprog commented on #53
I'm going to try it on `cygwin` and `mingw` too ...

[2016-06-23 15:15] silvioprog commented on #53
I forgot to ask about 32 bits... can I generate a 32bis libxlsxwriter.dll?

[2016-06-23 15:28] jmcnamara commented on #53
I haven't done it but it should be possible.

[2016-06-23 18:00] silvioprog commented on #53
Bro, I have bad news. :-( It fails in:

- mingw-w64 - 32/64 bits > same error, even after some changes in the Makefile.
- cygwin - 32/64 bits > same above.

Now I'm going to try Visual Studio, the only problem is because it needs 8GB free disk and a lot of time to be installed via web (the internet speed here in Brazil is very bad), so I don't know when I'll back with some feedback. :-(

The libxl

[2016-06-23 19:06] Alexhuszagh commented on #53
I have the exact same issue in MSYS2, which is a 64-bit Cygwin-like environment that builds to DLLs (so it does not need a Cygwin environment for releases).

However, a cursory look shows the following:

[code]

I was able to fix packager.c with two preprocessor directives, both identical, as follows:
#if defined(_WIN32) && !defined(__MINGW32__)

The first is on line 27, the second on line 88. It

[2016-06-23 19:15] Alexhuszagh commented on #53
Quick confirmation that a program linked to the patched file compiles, links and executes fine on my system.

Thanks for the excellent library jmcnamara.

[2016-06-23 19:21] silvioprog commented on #53
@Alexhuszagh thanks for share this informations. I'm away from my development PC, but I'll try this new steps, I really I'll avoid to download Visual Studio. Thanks again! :-)

[2016-06-23 19:33] silvioprog commented on #53
I agree @Alexhuszagh . The libxlsxwriter is awesome, I want to share it in many places like social network, programming groups/forums, university, work etc. :-)

[2016-06-23 19:54] jmcnamara commented on #53
@Alexhuszagh thanks. I'm working on some fixes for the mingw and cygwn issues.

[2016-06-23 21:26] Alexhuszagh commented on #53
@silvioprog Yeah, I've used XlsxWriter (his Python package) forever, and was amazed he also has a C/C++ library as well.

And @jmcnamara let me know if I can test anything, since I have a lot of redundant build systems (msys2, mingw, and Cygwin) in place.

[2016-06-23 22:18] jmcnamara commented on #53
I've pushed fixes for MinGW and Cygwin to the master branch. They are working in the 2 envs I have for testing.

They should compile without modification or warnings but let me know if you see anything.

[2016-06-23 22:19] silvioprog commented on #53
**YYYEEESSS!!! \o/**

@jmcnamara you fixed the problem! I saw the latest commit (be0097b7173c7c9afc3e36fc8f1bd01d3665b05f), so after update my repo and rebuild the library, finally I got the `libxlsxwriter.dll` about 750KB, but after strip it only 214KB. I can send a patch to declare the make option `install-strip`.

Now, the only command is:

[code]
And the magic happens! :-)

Two observations:

[2016-06-23 22:20] silvioprog commented on #53
@jmcnamara oops, I just see your message now! ^^'

I'm going to re-update and re-build it now ... :-D

[2016-06-23 23:47] silvioprog commented on #53
@jmcnamara I did some changes in the makefiles that chooses the `gcc` compiler and declares the `install-strip` and `uninstall` options, can you check this attached patch? If so, feel free to change it, because I'm not sure if the `gcc` can be the default compiler in the makefiles.

Unfortunatelly I still see many warnings during compiling, but I get the compiled DLLs. Anyway, thanks a lot for thi

[2016-06-24 00:08] jmcnamara commented on #53
I fixed the warnings and the CC issue.

[2016-06-24 00:27] jmcnamara commented on #53
I also added `uninstall` and `strip` makefile targets but not `install-strip` since not everyone will want to install stripped versions of the binaries and it can be made up from the other 2.

[2016-06-24 00:54] silvioprog commented on #53
In only one word: **P.E.R.F.E.C.T**!

Now, we just:

[code]

If you prefer, I can send a patch to update the [**Installation on Windows using Microsoft Visual Studio**](http://libxlsxwriter.github.io/getting_started.html), adding something like **Installation on Windows using MinGW-w64**, showing the steps I sent. I'm glad contributing this project in some way.

[2016-06-24 07:48] jmcnamara commented on #53
@silvioprog
Thanks for the howto. I'll update the docs once I do a bit more testing.

And speaking of testing I also need to make some of these changes to the test suite. I am also seeing a unit test failure in MinGW but not in any of the other environments so I need to look at that.

@Alexhuszagh If you could check for any build issues in Msys2 and your other environments that would be great too.

[2016-06-24 20:11] Alexhuszagh commented on #53
@jmcnamara, No more compiler warnings with Msys2, and it compiles fine. Same with Cygwin. With MinGW64, it also builds fine, however, there were a lof of warnings. (Included below).

Thank you so much.

MinGW Warnings:
[code]

[2016-06-24 20:18] silvioprog commented on #53
Hello @Alexhuszagh, he already fixed this warnings, and now you don't need to use `CC`, just call `make` without params. Take a look at my new install script at last message: https://github.com/jmcnamara/libxlsxwriter/issues/53#issuecomment-228228434.

[2016-06-24 20:48] Alexhuszagh commented on #53
@silvioprog MinGW64 for good reasons is not part of my path on Windows, so yes, I do actually have to call `CC=/path/to/mingw`. But it's not really relevant. The position-independent code is already position independent, so the -fPIC flag is redundant, and that's 90% of the warnings. Also, that's cloned from the latest source.

The last is likely because mingw64 reverts to an old C version, which

[2016-06-24 21:38] silvioprog commented on #53
Hm... strange, I don't have `mingw` in my Windows path, I just use the `mingw32_shell.bat` in a MinGW installation via [this steps from scratch](https://github.com/jmcnamara/libxlsxwriter/issues/53#issuecomment-228228434), using the default MinGW environment. :-/ And it compiles xlsxwriter without any warning:

[code]

I took a look at last commits and it seems jmcnamara removed the -fPIC for MinG

[2016-06-24 21:51] Alexhuszagh commented on #53
@silvioprog MinGW and MSys and completely different code bases than MinGW64 and MSys2. The latter were created as an independent re-write to support 64-bit architecture. It's also possible, overall, I'm just glad it compiles on all the Windows build systems I've tried now, which includes Cygwin DLL, Cygwin, MSys2, MinGW64, and others have reported MinGW, and Visual Studio working. Seems like Windo

[2016-06-24 22:12] silvioprog commented on #53
Good news buddy! And thanks sharing these informations, I'm very begginer in C/make, so useful tips are welcome. :-)

I think this issue is now solved, so I'm closing it, but feel free to reopen if necessary.

ps. @jmcnamara just ctrl+f + "mingw" at [getting_started](http://libxlsxwriter.github.io/getting_started.html) and can't see any mingw entry, do you commited that?

[2016-06-25 02:36] jmcnamara commented on #53
@silvioprog I'm still testing this and I haven't got to the documentation yet so I'm going to reopen this issue until it is ready for a release. Excuse the spam. :-)

[2016-06-25 02:50] jmcnamara commented on #53
@Alexhuszagh I've added support for Msys2 to the makefiles if you get chance to retest.

Also, could you give me some more details on how to reproduce the case with warnings.

If the build system detects the environment correctly then there shouldn't be any of those warnings.

Also @silvioprog and @Alexhuszagh the test system should be working now. As a minimum you should be able to run the unit t

[2016-06-25 02:57] Alexhuszagh commented on #53
@silvioprog Actually I think I know the issue. I use Cmder as my default terminal, which is a Windows terminal, but accepts shell commands and has `/bin/sh` in the path (confusing right, but it's amazing), so the warnings may be since it detects a Cygwin-like environment but is actually just a standard command prompt. It may have nothing to do with MinGW64 and MinGW32. I'll re-run it from both Cmd

[2016-06-25 03:07] Alexhuszagh commented on #53
@jmcnamara I'll post the error tracebacks I get for each build separately, starting with Msys2. Apparently there is something wrong with the string-based tests in the in the Msys2 build.

[code]

[2016-06-25 03:08] Alexhuszagh commented on #53
Cygwin (DLL-based) compiles fine and all tests pass.

[2016-06-25 03:11] Alexhuszagh commented on #53
MinGW64 fails identically to Msys2. I might take a look and see what's going on, it's probably a single failure point since it seems to be every string-based test returns a null string, and the rest work.

[2016-06-25 03:13] Alexhuszagh commented on #53
And just as a confirmation, everything builds on Linux.

[2016-06-25 10:44] jmcnamara commented on #53
@Alexhuszagh

Yes, sounds cool. :-)

That is probably the issue. The Makefile does a `uname` and changes some of the build parameters. So it expects some sort of environment like Msys2 or Cygwin in addition to the toolchain. You could edit the Makefile and add `MING_LIKE = y` near the top. If this was Linux you could do the following but I don't know if that will work in the Windows Cmd shell:

[2016-06-25 10:51] jmcnamara commented on #53
Actually maybe the following will work:

    make MING_LIKE=1

[2016-06-25 11:23] jmcnamara commented on #53
Just tested with MSYS and Mingw-w32 and there are some test failures. However, I can fix them.

In the meantime for anyone playing along at home here is how I am setting up MSYS (which I hadn't used and which is very nice I must say):

[code]

[2016-06-25 16:04] jmcnamara commented on #53
I've pushed a fix for the 32bit issue. I now have passing tests in 4 Windows envs:

- [x] Cygwin: Compiles and unit and functional tests pass
- [x] Msys2 + Mingw64: Compiles and unit and functional tests pass
- [x] Msys2 + Mingw32: Compiles and unit and functional tests pass
- [x] Msys + Mingw: Compiles and unit tests pass

I think this is close to completion. I need to figure out if I can add a 3

[2016-06-27 19:49] Alexhuszagh commented on #53
@jmcnamara 245 tests still fail with the 64 bit (MSYS2, not MSYS) version of MSYS. The functional tests fail as well.

[2016-06-27 20:01] jmcnamara commented on #53
@Alexhuszagh I see all tests passing in clean installs of MSYS2 64 and 32 bit. I've also uninstalled and installed several times to check.

Can you give more details on your installation or better still test in a new installation as follows:

[code]

[2016-06-28 20:19] jmcnamara commented on #53
@Alexhuszagh I think I may know what is causing the issue that you are seeing. The libxlsxwriter library uses `tempfile()` to create temporary filehandle in the test code and also to create temp file for files for the xlsx xml data.

If your Windows temp directory isn't writeable/accessible by the MSYS2 user shell then you will get test failures like the ones you are seeing.

Can you compile and r

[2016-06-29 04:58] sanhue0302 opened #55 "Problem using libxlsxwriter and ZipArchive together"
while i use pod libxlsxwriter and ZipArchive together
build would failed with  "Use of undeclared identifier 'MAXU32'"
i think that because pod will misunderstand include ioapi.h at Ziparchive rather than libxlsxwriter
any idea to use these two together?

[2016-06-29 07:30] jmcnamara commented on #55
Hi Sanhue,

There isn't very much information to go on here.

Some questions:

1. What is ZipArchive? I presume this: https://cocoapods.org/pods/ZipArchive
2. What are the steps to reproduce this? Please give a complete example.

I took a quick look at the ZipArchive source and the version of ioapi.h isn't wrapped in a `#ifndef _ZLIBIOAPI64_H` sentinel. Or perhaps it isn't a recent version from th

[2016-06-29 07:37] sanhue0302 commented on #55
a simple way to reproduce this issue is:

- create a new project
- add a podfile with

      pod 'ZipArchive'
      pod 'libxlsxwriter'
- pod update
- build the workspace

[2016-06-29 07:40] sanhue0302 commented on #55
yes, i think ZipArchive and libxlsxwriter use different version of minzip

any idea to solve the problem?

[2016-06-29 07:43] jmcnamara commented on #55
Just the idea that I suggested above. To replace the minizip version in ZipArchive with the one from zlib master (or the 1.28 tarball) or the one from libxlsxwriter.

[2016-06-29 08:20] utelle opened #56 "Question regarding return type for functions returning an lxw_error"
Many functions (like `workbook` or `worksheet` functions) return an `lxw_error` according to the documentation. However, the declared return type is `uint8_t` for the `workbook` functions resp. `int8_t` for the `worksheet` functions.

At the moment I have to use explicit type casts in my C++ application to avoid compiler warnings, when handling the error code returned from those functions.

Wouldn

[2016-06-29 08:42] jmcnamara commented on #56
Hi Ulrich,

I meant to do that when I was refactoring the error codes. I'll fix that soon.

Regards,

John

[2016-06-29 08:44] utelle commented on #56
Great news. Thanks.

[2016-06-29 08:45] jmcnamara commented on #55
Can you also post a full error log.

[2016-06-29 08:48] jmcnamara commented on #55
P.S. An error log when using SSArchiveZip.

[2016-06-29 08:57] utelle opened #57 "Warning about redefinition of SLIST_ENTRY"
The source file `packager.c` includes the header file `windows.h`. At least using Visual C++ 2010 I get a warning that the symbol `SLIST_ENTRY` is redefined in header file `winnt.h` which is indirectly included by `windows.h`. It's just a warning and the symbol is not used in `packager.c`, so no harm is done. However, it might be a good idea to rename the symbol in `libxlsxwriter` to something els

[2016-06-29 08:58] sanhue0302 commented on #55
/Users/sanhue/Desktop/test/Pods/libxlsxwriter/third_party/minizip/ioapi.c:62:29: error: use of undeclared identifier 'MAXU32'
        if ((tell_uLong) == MAXU32)

my test sample:
[test.zip](https://github.com/jmcnamara/libxlsxwriter/files/338879/test.zip)

[2016-06-29 09:59] jmcnamara commented on #57
Hi Ulrich,

I don't see that warning using this [project ](https://github.com/jmcnamara/MSVCLibXlsxWriter)in MSVC 2013.

The `SLIST_ENTRY` is a macro definition of a struct and it comes from the FreeBSD/Linux header `queue.h` which is included with libxlsxwriter.

So I think you will just have to live with this warning in MSVC 2010.

John

[2016-06-29 10:39] jmcnamara commented on #56
Also, just to be sure I resolve this issue can you provide a small example program that generates the warning.

[2016-06-29 12:11] utelle commented on #57
Interesting. Maybe this warning is related to the Windows SDK in use - which might be different for MSVC 2013.

Some googling reveals that other projects seem to be affected, too. Some define a different symbol to avoid the warning. I also found a version of [queue.h](https://searchcode.com/codesearch/view/11905748/), which explicitly undefines the symbol before redefining it. However, the latter

[2016-06-29 12:32] jmcnamara commented on #57
Okay. Thanks for the followup. Closing.

[2016-06-29 12:32] #57 closed

[2016-06-29 14:05] utelle commented on #56
Reproducing the error message is very easy. Just a simple line like the following in a C++ application
[code]
results in the following error message in VC++ 2010 (most probably in later versions, too) :
[code]

According to the [MSDN documentation](https://msdn.microsoft.com/en-us/library/2dzy4k6e.aspx) an explicit cast is required to convert from an integral type to an enumeration type.

[2016-07-02 14:53] jmcnamara commented on #55
@lrossi Any chance you could take a look at this issue if you get some time. Basically there is some sort of incompatibility between libxlsxwriter and SSArchiveZip with installed from pods since they both include a complete copy of minizip from zlib.

I don't know enough about either Xcode or Cocoapods to help the OP resolve their issue.

[2016-07-03 00:19] jmcnamara commented on #53
I've add documentation for MinGW support and pushed it to a new release: http://libxlsxwriter.github.io/getting_started.html#gsg_ming

One final thanks for your input. Closing.

[2016-07-03 00:19] #53 closed

[2016-07-03 13:12] jmcnamara commented on #57
Hi,

I pushed a fix for this warning to master. Basically it undefs the macro before including `windows.h`.

When you get a chance you can try it and let me know if it fixes the warning on Windows.

John

[2016-07-03 13:19] jmcnamara commented on #56
Hi,

I've changed the return type of all public functions to `lxw_error` and refactored the code internally to always return it.

You can try it when you get a chance.

Also, It would be useful if you could upload a sample MSVC 2010 project to GitHub to help anyone else who is trying to get it working. Could you do that? It doesn't have to be as elaborate as the MSVCLibXlsxWriter example: https://

[2016-07-03 17:42] utelle commented on #56
Great. I'll test it within the next few days.

I'm currently working on a wxWidgets wrapper for libxlsxwriter. I intend to publish it on GitHub in the not too far future. A sample will certainly be included, too.

I have a few more issues with the libxlsxwriter code, nothing serious (maybe partially again just MSVC 2010 related), but nevertheless I will open another issue for them.

[2016-07-03 17:45] utelle commented on #57
Yes, this eliminates the warning.

[2016-07-04 12:36] utelle opened #58 "VC++ 2010 and earlier don't define snprintf"
Unfortunately MSVC++ 2010 and earlier don't define the function `snprintf` ... and what's worse, the function `_snprintf` provided by MSVC++ 2010 can't be used as a replacement, since it behaves differently than `snprintf`. One way to solve the problem is to define a function with the proper behaviour in the header file `common.h` of `libxlsxwriter`. After line 235 add the following code:
[code]
T

[2016-07-04 13:01] utelle opened #59 "Inconsistant constness of char* parameters"
Many `libxlsxwriter` functions take text strings as parameters. The constness of those string parameters is used inconsistently. While sometimes `const char*` is used, several functions just use `char*`.

In my application I have string variables declared with `const char*`. At least for MSVC++ 2010 passing such variables to `libxlsxwriter` functions often result in the compiler message
[code]
At

[2016-07-04 13:12] utelle commented on #56
I removed the explicit `lxw_error` type casts from my own code ... and the code compiles flawlessly.

Great. Thanks. Keep up the good work.

[2016-07-04 20:43] utelle opened #60 "Another MSVC++ 2010 issue with variable declaration in packager.c"
Since MSVC++ 2010 does not support the C99 standard, variable declaration have to be placed at the beginning of scope block. Therefore `packager.c` doesn't compile properly due to lines 58 and 59 declaring a variable after some executable code:
[code]
This is allowed for C99, but not for C89. Moving these 2 lines  a bit up, for example just **below** line 47
[code]
solves the problem.

[2016-07-04 20:57] jmcnamara commented on #58
Added to master.

[2016-07-04 21:00] jmcnamara commented on #59
I seem to have started with const correctness and forgot it along the way.

The char* in the API should now all be const on master.

[2016-07-04 21:00] jmcnamara commented on #60
Fixed on master.

[2016-07-04 21:11] utelle opened #61 "Potential problem with ownership of page breaks"
The `worksheet` functions `worksheet_set_h_pagebreaks` and `worksheet_set_v_pagebreaks` take an  `lxw_row_t` resp `lxw_col_t` array. However, those functions don't take ownership of the arrays, they just set a reference to them in the `worksheet` data structure. Thus, the programmer has to ensure that the page break array doesn't go out of scope while the `worksheet` is processed. That is, the fol

[2016-07-04 21:20] utelle commented on #59
Thanks for taking care of the issues I created today so quickly. Much appreciated.

[2016-07-04 21:25] jmcnamara commented on #61
Actually, I wouldn't argue that. :-)

In almost all cases I try to copy the user data in case in goes out of scope. However, I missed this one (and possibly others).

I'll fix it.

[2016-07-04 21:37] utelle commented on #61
Thanks.

I will continue to report issues, if I come across them.

[2016-07-04 23:09] jmcnamara commented on #61
Fixed on master.

[2016-07-04 23:35] jmcnamara commented on #56
Fixed in release 0.4.0. Thanks for the report.

[2016-07-04 23:35] #56 closed

[2016-07-04 23:35] jmcnamara commented on #58
Fixed in release 0.4.0. Thanks for the report.

[2016-07-04 23:35] #58 closed

[2016-07-04 23:35] jmcnamara commented on #59
Fixed in release 0.4.0. Thanks for the report.

[2016-07-04 23:35] #59 closed

[2016-07-04 23:36] jmcnamara commented on #60
Fixed in release 0.4.0. Thanks for the report.

[2016-07-04 23:36] #60 closed

[2016-07-04 23:36] jmcnamara commented on #61
Fixed in release 0.4.0. Thanks for the report.

[2016-07-04 23:36] #61 closed

[2016-07-06 01:05] Alexhuszagh commented on #53
Hi sorry,

Other obligations got in the way. By any chance, @jmcnamara I made the examples in the examples directory and was getting a tempfile error, which I then looked in your source code for examples:

"@note The libxlsxwriter library uses files in the system TEMP directory during
assembly of a xlsx file. On Windows this directory may not be writeable by a
libxlsxwriter application. To work ar

[2016-07-06 01:16] Alexhuszagh commented on #53
Ok, I also tried most of the examples and only constant_memory.c failed, due to an XML corruption error.

All the chart, panes, images, merged ranges, chart styles, tab colors, tutorials, etc. worked. Overall, it seems like there's an issue with the testing framework on my end (could it have to do with wchar vs. char differences?), since 245 of 267 tests fail, but the code works in production.

[2016-07-06 08:32] jmcnamara commented on #53
@Alexhuszagh Thanks for the detailed breakdown.

Did you try the alternative lxw_tmpfile() implementation in utility.c that is under the `USE_TMPFILE2` define: https://github.com/jmcnamara/libxlsxwriter/blob/master/src/utility.c#L488

You will need to change the `/tmp/` in the following to some writeable dir. Possibly with a Windows path like "C:\\MyPath\\Temp"

[code]

[2016-07-06 15:47] Alexhuszagh commented on #53
@jmcnamara I did not, but that implementation should only work reproducibly on *Nix systems or *Nix like systems (it would work within a MSYS environment, but not with the compiled program outside such an environment, since the /tmp directory does not exist on Windows). Also, the Windows temp directory is well structured, typically "C:\\Users\\$USER\\AppData\\Local\\Temp", and can be accessed with

[2016-07-06 16:46] jmcnamara commented on #53
Can you try it. I've had a report from a MinGW user that it worked from them.

I guess I wasn't clear on that. You need to change the path to a writeable dir on your system.

[2016-07-06 17:51] AlfonsoUceda opened #62 "Question about writing a number"
Hi @jmcnamara

I need to ask you something related writing a number in an Excel, because I'm porting my old XLSX writer to the new writer based in this library.

The value I write in the excel is the following `0.041666666666666664` with [worksheet_write_number](http://libxlsxwriter.github.io/worksheet_8h.html#ad9fc47d3beaa2ab4759414e8580c2289) function, the same for my both renderers and the form

[2016-07-06 17:56] utelle opened #63 "Temporary files on Windows"
This issue is somewhat related to issue #53, but that one has a misleading subject.

On Windows the current default implementation of `lxw_tmpfile` (which uses `tmpfile` under the hood) can impose a real problem. According to the documentation `tmpfile` always creates temporary files in the root directory. However, the root directory is not accessible for users without elevated rights. This makes

[2016-07-06 23:41] jmcnamara commented on #63
Hi Ulrich,

That incredible piece of software engineering has been a thorn in my side for years. The Perl and Python versions of this library have options to override the default temp directory.

Yes. That might help someone else who is struggling with this problem.

I'm little reticent to include something like this but there may be no choice for Windows users. I'll look into adding it on a branc

[2016-07-07 00:19] jmcnamara commented on #62
Hi Alfonso,

Excel stores number as IEEE1588 doubles. These have 15 significant digits of precision. So the best precision you could get with this number is:

    123456789012345
    ===============
    416666666666666

And not as you expected:

    12345678901234567
    =================
    41666666666666664

You can verify this yourself by pasting 0.041666666666666664 into a cell in Excel and l

[2016-07-07 06:58] AlfonsoUceda commented on #62
Hi @jmcnamara

I saved the excel generated by the old renderer and Excel transforms the value from `0.041666666666666664` to `4.1666666666666664E-2`, and the number in the new renderer is `4.1666666666666657E-2`.

`4.1666666666666664E-2` #=> 0.041666666666666664
`4.1666666666666657E-2` #=> 0.04166666666666666
☝️ you can see the length is the same.

[2016-07-07 07:03] jmcnamara commented on #62
What happens if you paste the number manually into Excel, save the file and view the xml?

[2016-07-07 07:04] AlfonsoUceda commented on #62
It's used as shared string :S even If I put the format as a number in the excel, I use excel 2016 but I'll ask a mate to do it with a lower version of excel.

[2016-07-07 11:06] AlfonsoUceda commented on #62
@jmcnamara one thing I saw is, If I write in a cell `01:00:00` is transformed to `1:00:00`, then I save the excel and unzipped it, when I see the cell XML I have the following:
[code]
[code]

[2016-07-07 11:30] AlfonsoUceda commented on #62
@jmcnamara another case is with "02:00:00":
[code]
[code]

[2016-07-07 11:45] jmcnamara commented on #62
Interesting.

Times in Excel are expressed as a percentage of the day so `1:00:00` is 1/24 which is:

    0.0416666666666666666666666666666666666666...

Excel uses IEEE754 doubles internally for calculations. This has a limited precision of 15 digits (it can be slightly higher for some numbers).

So when Excel writes the number to a file it uses some formatting to convert from the internal double

[2016-07-07 11:54] jmcnamara commented on #62
BTW, you can see the same thing in Ruby:

[code]

[2016-07-08 10:31] AlfonsoUceda commented on #62
@jmcnamara thank you for answer and investigation, we are going to use the text format because it's work in our integration.

[2016-07-08 10:31] #62 closed

[2016-07-08 11:37] jmcnamara commented on #62
Hi Alfonso.

Thanks for the update.

John

[2016-07-08 19:54] utelle commented on #63
Hi John,

sorry for the delay. I was busy in my job.

I'll try to provide a variant that might be usable not only with MSVC. Not sure whether I succeed. I'll post the code early next week.

In fact, my implementation is similar to the generic implementation I quoted - just without the unneeded bits and pieces.

[2016-07-08 20:32] utelle opened #64 "Corrupted Excel files due to locale dependent conversion of floating point values"
I develop an i18n application. `libxlsxwriter` works fine as long as the default C locale or a locale that uses **decimal points** as the delimiter for the fractional part of a floating point value are used.

The problem is that the C functions used in `libxlsxwriter`, namely `fprintf`, `lxw_snprintf`, are not locale independent. That is, for example if a German locale is established, a **decimal

[2016-07-08 20:45] jmcnamara commented on #63
No problem. We all have jobs and probably none of them relate to creating Excel files for a living.

I'm going to put together a branch with the above library as an optional make option on Unix and as the default on Windows. I'll ping you when I've implemented and tested it a bit. If it looks stable I'll merge it to master.

[2016-07-08 20:52] jmcnamara commented on #64
Aargh. I am losing my will to live.

Can you override the locale at the application level, or at least around the Excel writing part?

[2016-07-08 21:12] evanmiller commented on #64
@jmcnamara You should be able to save the current locale, change the locale to "C" or "POSIX", do your printing, then restore the original locale when done printing. E.g. something like

[code]

[2016-07-08 21:17] utelle commented on #64
How can I encourage you?

Well, in fact, it's my application that sets the locale - dependent on the choice of the user. That is, even on a German system it will use decimal points, if the user switches the application to English.

Overriding the locale around the Excel writing part is not such a good idea, since for C the locale is a global beast - changing it would for example affect also differ

[2016-07-08 21:20] utelle commented on #64
@evanmiller: Changing the locale in that way you proposed can have unwanted side effects in a multi-threaded environment, since the locale is a global instance.

[2016-07-08 21:22] evanmiller commented on #64
@utelle You are right, my proposal will wreck the locale in a multi-threaded environment.

[2016-07-08 21:48] evanmiller commented on #64
What about `uselocale`? It is a thread-specific alternative, and part of POSIX.1-2008.

http://man7.org/linux/man-pages/man3/uselocale.3.html

[2016-07-08 21:48] utelle commented on #64
A function to convert a double to a string in a locale independent way could look like the following:
[code]

The passed `buffer` has to be large enough to hold the result of the conversion. So maybe the size of the buffer should be passed to the function, too, and then `snprintf`resp `lxw_snprint` should be used instead of `sprintf`.

A local buffer should not be used to avoid problems in multi-t

[2016-07-08 22:01] utelle commented on #64
@evanmiller

In principle, a good idea. Unfortunately, the MSVC runtime library does not provide the function `uselocale`. You would have to take special measures to enable thread-specific locales. Not impossible, but cumbersome. So under Windows it takes more efforts to solve this issue.

[2016-07-09 03:45] evanmiller commented on #64
@utelle This StackOverflow thread may be useful:

http://stackoverflow.com/questions/6561723/thread-specific-locale-manipulation-in-c

Win32 provides `_configthreadlocale(_ENABLE_PER_THREAD_LOCALE)` which makes `setlocale` behave like `uselocale`.

[2016-07-09 08:01] utelle commented on #64
The more I think about this the more I get the impression that manipulating the global or thread-specific locale might not be the best approach. At least not on Windows.

`libxlsxwriter` is a library, and a library should not interfere with application specific settings. Using  `_configthreadlocale(_ENABLE_PER_THREAD_LOCALE)` within `libxlsxwriter` might not be what the application wants.

IMHO th

[2016-07-09 14:28] jmcnamara commented on #64
I don't think locale changes should be handled in the library either. My current thoughts on how to handle this are:

1. Do nothing, declare defeat and go home.
2. Document the locale limitation and suggest ways that this can be handled at the application layer via `setlocale()` and `uselocale()`.
3. Macro-ize all (or some) of the `fprintf()` calls, like all the `snprintf` calls, and allow Windows

[2016-07-09 16:17] utelle commented on #64
Please don't. For developers like me support for i18n applications is important, and it would be a big advantage for `libxlsxwriter` to support i18n out of the box. I will certainly help to find solutions.

For i18n applications it would make life difficult for developers. One would always have to keep in mind that locales have to be changed before and reverted after doing Excel export. I would ce

[2016-07-10 06:57] utelle commented on #64
I did some research yesterday. Since `sprintf_l` or variants thereof don't seem to be generally available (_MSVC has it, BSD also, but not Linux_), and since speed can also be an issue for converting doubles to strings, I would recommend to use a private version of `dtoa`.

I found this interesting project, [dtoa benchmark](https://github.com/miloyip/dtoa-benchmark), which includes a [C implementa

[2016-07-10 08:36] jmcnamara commented on #64
After thinking about his for a bit I am now leaning towards handling this in a sprintf wrapper like your code above. I'll also have a look at the dtoa code.

I'm going to tackle the tempfile issue first and then move on to this.

Thanks for the research. That is very helpful.

[2016-07-10 09:09] utelle commented on #64
Conversion from double to string happens 7 times in your code (1 x `chart.c`, 1 x `custom.c`, 1 x `xmlwriter.c`, 4 x `worksheet.c`). Except for 2 cases in `worksheet.c` where you use `fprintf` with surrounding text elements in the format string, it is always just a plain conversion from doube to string. That is, it should be easy to isolate and encapsulate the code for the conversion.

Personally,

[2016-07-10 23:30] jmcnamara commented on #63
I've pushed a version using tmpfileplus as the default tmpfile handler to the following branch: https://github.com/jmcnamara/libxlsxwriter/tree/tmpfileplus

I need to add some more documentation and fix the Mac cocoapod files but if you get a chance you can test it to see if it works for you.

[2016-07-10 23:33] jmcnamara commented on #53
@Alexhuszagh I got a similar report from a user on Windows using MSVC: #63

I ended up using the tmpfileplus library you linked to above to fix the issue so your issue is probably resolved as well. If not add a comment to #63.

[2016-07-11 10:40] utelle commented on #63
I will test it within the next few days.

I inspected the code of `tmpfileplus`. The approach seems to be more or less the same as what I had implemented in my local version. That is, I think I can forego to publish my own implementation.

[2016-07-11 10:55] utelle commented on #64
In the meantime I tested `emyg_dtoa` in my local version. I had to struggle a bit to get it compiled with MSVC 2010, since the code uses C99 features that are not supported by MSVC, but finally I managed to get it working. However, I wonder whether the `emyg_dtoa` code was ever compiled successfully with MSVC **as is**, since the code seems to contain items that are not even known to MSVC 2015. I

[2016-07-11 13:41] utelle commented on #63
I tested the new implementation. It works as expected.

There is only one thing that I don't like in `tmpfileplus`: as default it uses the filename prefix `tmp.` making the random part of the filename in fact the filename extension. In case the temporary files are not deleted automatically for some reason or need to be inspected during debugging, this makes it difficult to locate the files. I woul

[2016-07-11 23:00] jmcnamara commented on #63
I've left the prefix as it is. If it becomes a real issue for someone I'll change it.

I've merged the tmpfile changes down to master and pushed them in the 0.4.1 release: http://libxlsxwriter.github.io/changes.html

Thanks for the report. Closing.

[2016-07-11 23:00] #63 closed

[2016-07-12 02:02] edgarpettijohn opened #65 "Add support for OpenBSD"
Here are my patches to build on OpenBSD 6.0 with no errors/warnings.  Please review and include in src distribution.  I haven't gotten a chance to really play around with the lib yet, but all of the examples I've looked at and built, etc seem to work well and are easy to follow.  It reminds me of GTK+.

[libpatch.txt](https://github.com/jmcnamara/libxlsxwriter/files/358422/libpatch.txt)

Thanks!

[2016-07-12 08:24] jmcnamara commented on #65
Hi Edgar,

Thanks for that. It is good to support another OS. I'll merge the changes up in the next few days.

One question. Are the patches to `miniunz.c` and `minizip.c` actually required? They aren't used by libxlsxwriter and are only included since they are part of the [minizip component from zlib](https://github.com/madler/zlib/tree/develop/contrib/minizip).

Thanks for your contribution.

Jo

[2016-07-12 10:59] edgarpettijohn commented on #65
Sent from my iPhone

I'll have to check. I just took a knife to everything fseeko64 related.

Edgar

[2016-07-12 22:25] edgarpettijohn commented on #65
I think the problem is that there is no way to tell the Makefile that I want to use my systems zlib.  Or I'm missing something.

Edgar

[2016-07-12 23:32] jmcnamara commented on #65
Hi Edgar,

I've set up an OpenBSD system for testing and I've pushed up a few fixes for the issues you pointed out and a few other warnings from the unit test suite. You can try it when you get a chance.

I didn't have to install the zlib dev libraries at all which is nice.

I'm building Python at the moment (pkg_add failed to install any of the Python versions for some reason). Once it is done I'

[2016-07-13 00:29] jmcnamara commented on #65
I got Python installed and working and the test suite passes on OpenBSD 5.9. There are a few more warnings, that I don't see on other systems, to get rid off but they are mostly harmless.

[2016-07-13 00:44] edgarpettijohn commented on #65
Thats what I assumed.  I built all of the examples and they seemed to work properly, so I wasn't going to dig into the tests.

[2016-07-13 18:20] edgarpettijohn commented on #65
builds without error/warnings.

[2016-07-13 18:24] jmcnamara commented on #65
Great. Thanks for letting me know and for pointing out the issue in the first place.

[2016-07-14 22:04] edgarpettijohn commented on #65
As far as packaging goes.  I would rather follow releases.  When do you expect to have another release?  If its a ways off I'll figure something out.

[2016-07-14 22:36] jmcnamara commented on #65
Hi Edgar,

I pushed a new release, 0.4.2, with the OpenBSD fixes just a short while ago: http://libxlsxwriter.github.io/changes.html

Closing, thanks.

John

[2016-07-14 22:37] #65 closed

[2016-07-18 16:49] lemmel opened #66 "Exporting lxw_strerror symbol for C++"
Hi.

I'm a C++ developper and I gave a try to your library, and I saw that the lxw_strerror function wasn't exported as C symbol.

The file : include/xlsxwriter/utility.h
I moved the block
[code]
just above the declaration of lxw_strerror.

P.S. : Thanks a lot for giving time to create such a library.

[2016-07-19 00:21] jmcnamara commented on #66
Thanks for the report.

Fixed on the master branch. Closing.

John

[2016-07-19 00:21] #66 closed

[2016-07-19 13:30] lemmel opened #67 "Improve documentation about column width unit"
Could you add something about the unit used when setting (e.g. through the  worksheet_set_column_opt function) the width of a column ?

It is not cm, mm, inch, pica because when I looked for information about it, I found :
- http://ericwhite.com/blog/precisely-calculating-cell-sizes-in-open-xml-spreadsheetml/ (precisely at https://youtu.be/zgO_vOfThCI?t=238)
- ISO/IEC 29500-1:2012 (can be found: h

[2016-07-19 13:47] jmcnamara commented on #67
Hi,

This is explained a little better in the docs for the [Python version of this library](http://xlsxwriter.readthedocs.io/worksheet.html#worksheet-set-column):

I'll port that, and the other updated text, to the C docs.

John

[2016-07-19 22:58] jmcnamara commented on #67
I've pushed a update to master and regenerated the online docs.

Thanks for the report.

Closing.

John

[2016-07-19 22:58] #67 closed

[2016-07-25 09:32] utelle opened #69 "Proposal for source tree structure regarding 3rd party components"
I'd like to propose that you cleanly separate 3rd party components from the source code of `libxlsxwriter`.

For example, at the moment you have 2 copies of the `minizip` related header files `ioapi.h` and `zip.h`, one instance in subdirectory `include/xlsxwriter/third_party` and one instance in subdirectory `third_party/minizip`. The problem is, that those copies are not identical.

In `include/x

[2016-07-25 10:08] jmcnamara commented on #69
Thanks, I'll look into it.

[2016-07-26 14:46] Racerxali opened #70 "Feature Request: Option to set logarithmic scale on Y axis"
Hi,

While using the chart settings, I don't find any option to set logarithmic scale. Can u please guide how can we use this feature. Also when using scatter chart, there seems to be an issue that it does not show series title in the legend (rather it shows default series title like Series1) when using chart_series_set_name(), while proper series name appears in other charts. I hope this is not a

[2016-07-26 15:24] jmcnamara commented on #70
Hi,,

Unfortunately, that isn't supported yet.

It is supported in the Perl/Python version of the lib so it will be ported over in time: https://xlsxwriter.readthedocs.io/chart.html?highlight=log#chart-set-x-axis

It should work. There are tests for it and the following example shows it: http://libxlsxwriter.github.io/chart_scatter_8c-example.html

If you think it doesn't work in some condition th

[2016-08-12 09:59] azplanlos opened #71 "Potential bug in include headers"
Hi,

I think there is a bug in the projects include header file include/xlsxwriter/common.h:

Two files are referenced by using a relative path that doesn't exist. Xcode is complaining about this when adding the library to my own framework.

[code]

Corrected like this it is compiling and working.

[code]

If this is really a bug, please correct it or let me know so I can open a pull request.

And

[2016-08-12 15:58] jmcnamara commented on #71
Hi,

Thanks for the report. I'll have a look at it.

John

[2016-10-26 06:02] ankithherle opened #74 "Worksheet row or column index out of range Error"
I am getting `Worksheet row or column index out of range` when I tried to Write a cell.

1. - I write cell in 2nd row row and 1st column in 1st iteration of the loop
2. - When I try to write a cell in the 2nd row row and 2nd column in the 2nd iteration I am getting out of range error.

What is the reason for above mentioned behavour ?
What are cases or possibilities which can result in ` Worksheet

[2016-10-26 07:03] jmcnamara commented on #74
Hi Ankith,

Could you add a small, complete, working example that demonstrates the issue.

John

[2016-10-26 07:04] ankithherle commented on #74
Thanks for replying.
I will update the issue description.

[2016-10-26 07:07] ankithherle commented on #74
@jmcnamara Updated the issue description, please check.

[2016-10-26 08:11] jmcnamara commented on #74
@ankithherle What I really need is a small example program that demostrates the issue. Like this:

[code]

Also, let me know the version printed out from the example on your system.

See also [Report Bugs in libxlsxwriter](https://github.com/jmcnamara/libxlsxwriter/blob/master/CONTRIBUTING.md).

[2016-10-26 08:55] ankithherle commented on #74
#### Sample code from which Error is generated
[code]

[2016-10-26 09:03] ankithherle commented on #74
@jmcnamara

Link to file which contains output printed on terminal:
[https://drive.google.com/open?id=0B4rT-3u4TZHkYVlHMnJraThhb00](url)

Link to Sample xlsx file genrated:
https://drive.google.com/open?id=0B4rT-3u4TZHkZG92OC1kakxjaW8

Look into this.

[2016-10-26 09:28] jmcnamara commented on #74
@ankithherle

Thanks for the example. In general output files aren't useful but the programs that generate them are.

The issue here is that you are using `constant_memory` option and in that mode the cell data must be written in row x column order or else the data will be ignore.

This is explained in the docs in [Constant Memory Mode](https://libxlsxwriter.github.io/working_with_memory.html) and

[2016-10-26 09:39] ankithherle commented on #74
Issue is resolved after I removed `constant_memory`. Thank you @jmcnamara .

[2016-10-26 10:06] #74 closed

[2016-10-26 10:18] ankithherle opened #75 "Multiple feature Requests"
@jmcnamara
Any updates about

- [issue #31](https://github.com/jmcnamara/libxlsxwriter/issues/31)

- [issue #38](https://github.com/jmcnamara/libxlsxwriter/issues/38)

Are these two features not yet implemented ?

[2016-10-26 10:18] ankithherle commented on #75
@jmcnamara
I have asked same question through email last week

[2016-10-26 10:28] jmcnamara commented on #75
In general if there is any update on a feature request I add it to the feature request.

So in this case there are no updates.

[2016-10-26 10:28] #75 closed

[2016-11-04 11:51] xakepsoft opened #76 "constant memory mode problem"
xlsx file created using {.constant_memory = LXW_TRUE , .tmpdir = NULL}
cannot be read by akeneo-labs xlsx php reader.

File created with 'options' contains  xl/sharedStrings.xml however file without 'options' doesn't have that.

Is there a way to prevent creation of xl/sharedStrings.xml ???
I would like to disable it for a while until akeneo-labs guys fix their issue with shared strings.

LibreOff

[2016-11-04 12:28] jmcnamara commented on #76
Just to be clear, I think that should be the other way around. Basically it works like this:

1. In default libxlsxwriter `new()` mode the `constant_memory` mode is off and the library writes any strings to the `xl/sharedStrings.xml` file. This can be considered a "standard" xlsx file.
2. When  `constant_memory` in on the libxlsxwriter library avoids a non constant memory overhead by writing the s

[2016-11-04 12:33] jmcnamara commented on #76
P.S., This side-effect is documented: http://libxlsxwriter.github.io/working_with_memory.html#ww_mem_inline_strings

[2016-11-04 12:47] xakepsoft commented on #76
Thanx, a lot.

I'll try to fix the reader so it conforms to standards.

[2016-11-04 12:47] #76 closed

[2016-11-15 22:36] Z3ROQL opened #77 "undefined reference to `workbook_new', `workbook_close', etc. when compiling code"
Hello! I successfully built **LibXlsxWriter.dll** and put it inside a folder with **Zlib.dll**, all **include files** (_xlsxwriter.h_ + _xlsxwriter folder_) and a **source code** (just a standard "Hello, world" code from your examples directory, nothing special). For some reason when I try to compile the code it gives me a lot of `undefined reference to [...]` errors, each of them for every functi

[2016-11-16 00:22] jmcnamara commented on #77
Hi,

What compiler are you using?

If MSVC then try the following project and follow the instructions: https://github.com/jmcnamara/MSVCLibXlsxWriter

Then let me know if you have an issue.

John

[2016-11-16 00:22] #77 closed

[2016-11-16 17:33] Z3ROQL commented on #77
I'm using Dev-C++.

[2016-11-17 10:12] jmcnamara commented on #77
The error that you see is just a linker or dynamic loader issue.

I had never heard of Dev-C++ but based on the webpage (http://www.bloodshed.net/dev/) it looks like it is an IDE with Mingw GCC as the compiler.

Libxlsxwriter work with Mingw and there are instructions in the docs: https://libxlsxwriter.github.io/getting_started.html#gsg_ming

Make sure that you link against libxlsxwriter and lz.

[2016-11-17 14:49] Z3ROQL commented on #77
Oh, I see. Thank you for your time. I acknowledge that I did a stupid mistake and I could've avoided to ask this question but I'm still a newbie : /

[2016-11-20 16:37] Z3ROQL opened #79 "Building 32-bit version of libxlsxwriter with MSYS2 and Mingw-w64"
Hello. I successfully built my first application using MSYS2 and Mingw-64. Now I want to build a 32-bit version of it, so I installed the 32-bit version of gcc from MSYS2, opened up the MINGW32 shell and ran the usual command: `gcc example.cpp -o example -lxlsxwriter -lz`. The problem is that the linker cannot find the library. Here's the error:

[code]

So I thought: "Should I remove my already e

[2016-11-20 18:04] jmcnamara commented on #79
Hi @Z3ROQL,

Did `make install` work correctly?

Either way you can try this fallback from the Libxlsxwriter [installation guide](http://libxlsxwriter.github.io/getting_started.html#gsg_using) :

cc myexcel.c -o myexcel -I /path/to/libxlsxwriter/include \
                           /path/to/libxlsxwriter/lib/libxlsxwriter.a -lz
[code]

[2016-11-20 19:01] Z3ROQL commented on #79
make install worked correctly. I executed this command ---> `cc main.cpp -o main -I c:/msys64/home/z3roql/libxlsxwriter/include \c:/msys64/home/z3roql/libxlsxwriter/lib/libxlsxwriter.a -lz` and now it gives me this error ---> `C:\msys64\tmp\ccUeeXG4.o:main.cpp:(.text+0x16): undefined reference to 'workbook_new'` (for every function used in `main.cpp`).

[2016-11-21 07:55] jmcnamara commented on #79
What happen if you do `make examples`?

[2016-11-21 07:58] jmcnamara commented on #79
Also is it correct that the lib path is escaped: ` \c:/msys64/home/...`

[2016-11-21 19:29] Z3ROQL commented on #79
If I do `make examples` it gives me a bunch of `undefined reference to [...]` errors ---> ```
make[1]: entering directory "/home/z3roql/libxlsxwriter/examples"
C:\msys64\tmp\ccSMi9UL.o: In function `write_worksheet_data':
C:\msys64\home\z3roql\libxlsxwriter\examples/chart_scatter.c:26: undefined reference to `lxw_name_to_col' [...]
[code]

[2016-11-22 11:02] jmcnamara commented on #79
I'm afraid I can't help you with this. I retested with MSYS2 32bit using the latest installer: http://repo.msys2.org/distrib/i686/msys2-i686-20161025.exe

Then I ran the installation instructions from the docs:

[code]
Everything worked fine as did `make examples` and `make test_unit`.

I think that you should verify that all of that works for you first.

[2016-11-22 13:01] Z3ROQL commented on #79
I'll try to download and install again MSYS2. Thank you for answering.

[2016-11-22 17:07] Z3ROQL commented on #79
Ok. I downloaded and installed everything again. Now it compiles without any problem, but it gives me this error code when I try to execute it: `0xc000007b`.

[2016-11-22 17:26] jmcnamara commented on #79
What gives an error code? What are you running?

Do you get the same error if you run the following from the shell after the commands above:

     ./examples/hello.exe

The issue may be that you don't have admin rights to write to the Windows TEMP. You can try run in Admin mode or use a different TEMP folder as explained here in the docs: http://libxlsxwriter.github.io/getting_started.html#gsg_tmp

[2016-11-22 18:50] Z3ROQL commented on #79
I'm running my test program.

Yes.

I tried running my program as Administrator but with same results. Also, I don't think that the TEMP directory is a problem since it works perfectly with the other 64-bit program I made before.

[2016-11-23 10:51] jmcnamara commented on #79
Maybe the issue is that you are trying to run a 32bit application in a 64bit version of Windows.

There are some suggestion here on fixing the 0xc000007b error code.

http://www.techcrises.com/how-to/how-to-fix-error-code-0xc000007b-in-windows-7-8-8-1/

I'd suggest "Method 4 : Fix Compatibility Issue Between System and Application".

[2016-11-23 10:56] jmcnamara commented on #79
Here is another link that suggests the issue is mixing 32bit code and 64bit dlls (or vice versa): https://msoos.wordpress.com/2010/09/11/0xc000007b-error-solution/

[2016-11-23 11:05] Z3ROQL commented on #79
YES! Finally! I love you! I used Dependency Walker as you suggested and replaced `msys-2.0.dll`, `msys-gcc_s-1.dll` and `msys-z.dll` from my project folder (they were 64-bit instead of 32-bit) and now everything works again! 💃

[2016-11-23 11:10] #79 closed

[2016-12-01 22:42] burlen opened #80 "CMake build"
Have you considered switching to CMake, or adding it as a side by side option to complement your makefile base solution?

I'm contemplating writing a CMakeLists  so that the xlsx writer can be built more easily integrated into our cmake based cross-platform superbuild, and was curious to see if you already written a CMakeLists file for xlsx writer, and to see what your thoughts are on the subject.

[2016-12-01 22:58] jmcnamara commented on #80
I wouldn't be keen on the idea since I don't know enough CMake to maintain it.

If you do create a CMakeLists then feel free to post a link to it here in case other people are interested.

Thanks for the suggestion.

John

[2016-12-01 22:58] #80 closed

[2016-12-03 21:10] milissovs opened #81 "Normal and superscript font in one cell"
Hi!

Is it possible to achieve format displayed at [this point](https://libxlsxwriter.github.io/format_8h.html#a471ca432e429505c79982ca5aecd1db0) - normal and superscript font in particular cell? How this could be done?

Best regards!
Emo.

[2016-12-03 21:25] jmcnamara commented on #81
No. That feature hasn't been ported yet: https://xlsxwriter.readthedocs.io/example_rich_strings.html

There is already a feature request open for this #37.

Add a +1 there to get an update when it is implemented.

[2016-12-03 21:25] #81 closed

[2016-12-05 21:38] burlen commented on #80
here is link to branch in my fork:
https://github.com/burlen/libxlsxwriter/pull/1

[2016-12-20 08:12] Diddlik opened #83 "Feature request: Set line width in Charts"
Is it possible to set a with of the chart line? Default value is 3.25 points and I need variable width of lines...

[2016-12-20 09:35] jmcnamara commented on #83
That isn't currently possible but is is on the TODO list: https://github.com/jmcnamara/libxlsxwriter/issues/51

I'll turn this into a Feature Request as well so that you can track it.

[2016-12-20 09:39] jmcnamara commented on #55
Closing. Can't fix.

[2016-12-20 09:39] #55 closed

[2016-12-20 09:42] Diddlik commented on #51
+1

[2016-12-22 20:57] evanmiller opened #84 "Issue with sheet names containing multi-byte (UTF-8) characters"
Sheet names longer than 32 bytes are [disallowed](https://github.com/jmcnamara/libxlsxwriter/blob/master/src/workbook.c#L1396) by libxlsxwriter; however I believe the correct behavior is to disallow sheet names longer than 32 *characters*.

I am trying to debug a customer issue, and I believe the problem is that sanitized strings which are longer than 32 bytes but shorter than 32 characters are pa

[2016-12-22 22:35] jmcnamara commented on #84
This is a bug that I had in the back of my mind and was on my TODO list to fix.

You are correct that the check should be on characters rather than bytes (like in the Perl and Python versions) and it was my intention to add a UTF-8 strlen. That same applies for most other length checks on user supplied data.

The worksheet name check also needs to disallow certain characters in the name: `[]:*?/\\

[2016-12-23 02:56] jmcnamara commented on #84
I've pushed an initial pass at this to the utf8_strlen branch, see commit above, if you'd care to try it out.

You will still have to handle the NULL error condition in your own code.

[2016-12-23 05:28] evanmiller commented on #84
Thanks @jmcnamara. Haven't tested but the patch looks fine to me; I'm looking forward to seeing it integrated.

I'll add NULL handling on my end so that is no problem. It might be useful to have a way to validate worksheet names without actually adding them, so that the error condition can be isolated in client code. `lxw_worksheet_name_is_valid` or something.

[2016-12-26 17:37] evanmiller commented on #84
Tested `master` with client code; this bug is now resolved for me. Thanks @jmcnamara!

[2016-12-26 17:37] #84 closed

[2016-12-30 12:49] jmcnamara commented on #51
Chart fonts added in 0.4.4.

[2016-12-31 00:42] jmcnamara commented on #51
Chart legends added in 0.4.5.

[2016-12-31 14:42] jmcnamara commented on #83
I've added initial support for this to the `charts` branch. You can now do something like this:

[code]

I'll merge it up onto master with docs etc sometime in the next week.

[2017-01-01 21:07] jmcnamara commented on #51
Chart line and fill formatting added in 0.4.6.

[2017-01-01 21:08] jmcnamara commented on #83
Added in 0.4.6. http://libxlsxwriter.github.io/working_with_charts.html#chart_lines

[2017-01-01 21:08] #83 closed

[2017-01-02 01:40] jmcnamara commented on #70
Log scale added in version 0.4.7: http://libxlsxwriter.github.io/chart_8h.html#ac27a9a20daf4f0a6be8595fbd7f41151

Also fixed the issue with chart titles in Scatter charts. Thanks for the report.

[2017-01-02 01:40] #70 closed

[2017-01-02 01:42] jmcnamara commented on #51
Chart axes: Reverse, Max and min, Log base added in 0.4.7.

[2017-01-02 01:45] jmcnamara commented on #48
Closing this as it is unlikely to be implemented.

[2017-01-02 01:45] #48 closed

[2017-01-03 01:21] jmcnamara commented on #51
Chart marker added in 0.4.8: http://libxlsxwriter.github.io/working_with_charts.html#chart_markers

[2017-01-04 15:06] iamabhiee opened #85 "Fit image to cell"
Library seems really good, I am trying to fit image to cell but I couldn't find a way, whats best way to do the same?

[2017-01-04 15:10] jmcnamara opened #86 "Feature request: Chart axis options"
- [x] name
- [x] name_font
- [x] num_font
- [x] num_format
- [x] line
- [x] fill
- [x] pattern
- [x] min
- [x] max
- [x] minor_unit
- [x] major_unit
- [x] interval_unit
- [x] interval_tick
- [x] minor_tick_mark
- [x] major_tick_mark
- [x] display_units
- [x] display_units_visible
- [x] crossing
- [x] Number format
- [x] position_axis
- [x] reverse
- [x] log_base
- [x] label_position
- [x] major_gr

[2017-01-04 15:20] jmcnamara commented on #85
Hi Abhishek,

The best, and only, way is to scale the image with the `worksheet_insert_image_opt()` function to fit into a standard Excel cell size of 20x64 pixels:

[code]

See the docs for `worksheet_insert_image_opt()`:  http://libxlsxwriter.github.io/worksheet_8h.html#a0b05e75e2c2a5c3452374714cdb2b79b

John

[2017-01-04 15:20] #85 closed

[2017-01-04 16:01] jmcnamara opened #87 "Feature request: Chart data options"
- [x] Chart series option: Trendline
- [x] Chart series option: Error Bars
- [x] Chart series option: Data Labels
- [x] Chart set_up_down_bars()
- [x] Chart show_blanks_as()
- [x] Chart show_hidden_data()

- [x] Gap
- [x] Overlap
- [x] Chart series option: Data Table
- [x] Chart series option: Points
- [x] Chart series option: Smooth
- [x] Chart set_drop_lines()
- [x] Chart set_high_low_lines()
-

[2017-01-04 16:02] jmcnamara opened #88 "Feature request: Chart secondary axes"

[2017-01-04 16:03] jmcnamara opened #89 "Feature request: Combine chart types"

[2017-01-04 16:09] jmcnamara opened #90 "Feature request: Chartsheets"
Add functionality like Python XlsxWriter Worksheet Chartsheets.

See https://xlsxwriter.readthedocs.io/working_with_charts.html#chartsheets

* Difficulty: 3 (Easy 1 - 5 Hard)
* Priority: 3 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

If you would like to make a donation to accelerate this feature you can do so via [PayPal](https://www

[2017-01-05 00:07] jmcnamara commented on #51
Closing this with 13 completed items and moving the remaining items to other Feature requests.

[2017-01-05 00:07] #51 closed

[2017-01-06 00:33] jmcnamara commented on #86
Major/minor gridline handling added in 0.5.1.

[2017-01-07 01:47] jmcnamara commented on #86
Visible feature added as `chart_axis_off()` in 0.5.2.

[2017-01-08 02:10] jmcnamara commented on #86
Added `position_axis` in 0.5.3.

[2017-01-09 01:46] jmcnamara commented on #86
Added `label_position` in 0.5.4.

[2017-01-10 12:18] jmcnamara commented on #86
Added `minor_unit` and `major_unit` in 0.5.5.

[2017-01-11 00:12] jmcnamara commented on #71
Fixed in version 0.5.6.

Thanks for the report.

[2017-01-11 00:12] #71 closed

[2017-01-11 00:13] jmcnamara commented on #86
Added `interval_unit` and `interval_tick` in 0.5.6.

[2017-01-12 00:11] jmcnamara commented on #86
Added `display_units` and `display_units_visible` in 0.5.7.

[2017-01-12 10:14] jmcnamara opened #91 "Feature request: Add support for Chart date axes"
Add functionality like Python XlsxWriter Data Axes.

See http://xlsxwriter.readthedocs.io/working_with_charts.html#date-category-axes

- [ ] Add date axis
- [ ] Add date min and max
- [ ] Add minor_unit_type
- [ ] Add major_unit_type

* Difficulty: 2 (Easy 1 - 5 Hard)
* Priority: 2 (High 1 - 5 Low)

Add +1 as a comment to vote for this feature and to get an update when it is implemented.

[2017-01-13 00:02] jmcnamara commented on #86
Added `chart_axis_set_major_tick_mark()` and   `chart_axis_set_minor_tick_mark()` in 0.5.8.

[2017-01-14 01:06] jmcnamara commented on #86
Added support for chart axis crossing with `chart_axis_set_crossing()` and   `chart_axis_set_crossing_max()` in 0.5.9.

[2017-01-16 00:11] jmcnamara commented on #86
Axis number format added in version 0.6.0.

[2017-01-16 00:11] #86 closed

[2017-01-16 00:11] jmcnamara commented on #87
Chart points added in version 0.6.1.

[2017-01-16 23:33] jmcnamara commented on #87
Series smoothing added in 0.6.2.

[2017-01-19 00:30] jmcnamara commented on #87
Added `chart_set_drop_lines()` and `chart_set_high_low_lines()` functions in 0.6.3.

[2017-01-20 10:32] Diddlik opened #92 "chart_series_set_line does not work"
Hello,

thank you for implementation of additional settings for line-charts. I tried it with minimal example, but it does not work for me ;)

If I set the line properties, in the output file  is the line gone...
[code]
With line
![with_line](https://cloud.githubusercontent.com/assets/6010713/22145673/b0ea4884-df02-11e6-8650-b77cf248f2b0.png)

Without line
![without_lines](https://cloud.githubuserc

[2017-01-20 11:23] jmcnamara commented on #92
Thanks for the report.

It would have been nicer as a complete program. ;-)

Anyway, I added the rest of the header code as follows:

[code]

Compiling it in the examples dir and running this gives the following, expected output in Excel 2013:

[code]
Output:
![aa_image](https://cloud.githubusercontent.com/assets/94267/22147746/0a06e770-df02-11e6-90f3-4ace5316aa9e.png)

Also there is a test case i

[2017-01-20 11:39] jmcnamara commented on #92
Maybe the issue is that this struct isn't initialised:

[code]

Try initialise it to zero first and then set the members that you want.

[code]

[2017-01-20 11:54] Diddlik commented on #92
It works with initialization!!! You are the best!
Thank a lot for a great job!

[2017-01-20 12:07] jmcnamara commented on #92
Ok. Good stuff. Closing.

[2017-01-20 12:07] #92 closed

[2017-01-21 08:31] jmcnamara commented on #87
Added chart data table option, see `chart_set_table()`,   `chart_set_table_grid()` and Clustered Chart example in 0.6.4.

[2017-01-21 14:37] jmcnamara commented on #87
Added functions to set the overlap and gap between series:  `chart_set_series_overlap()` and `chart_set_series_gap()`, in 0.6.5.

[2017-01-22 03:24] jmcnamara commented on #87
Version 0.6.6 January 22 2017

- Added functions to set chart Up-Down bars: see `chart_set_up_down_bars()`
  and `chart_set_up_down_bars_format()` and chart_data_tools.c.

- Added functions to handle blank and hidden data in charts: see
  `chart_show_blanks_as()` and `chart_show_hidden_data()`.

[2017-01-24 13:51] Diddlik commented on #32
+1

[2017-01-24 13:56] Diddlik commented on #88
+1

[2017-01-25 08:04] jmcnamara commented on #87
Version 0.6.7 January 24 2017

- Added chart data labels.

[2017-01-28 00:13] jmcnamara commented on #87
Version 0.6.8 January 28 2017

- Added chart error bars.

[2017-01-30 00:32] jmcnamara commented on #87
Version 0.6.9 January 30 2017

- Added chart trendlines.

[2017-01-30 00:32] #87 closed

[2017-02-10 17:46] danilcha opened #93 "Install on maxOS should put files to /usr/local instead of /usr"
Now macOS has some system protection and even under root I cannot write to `/usr`.

There is, however, a special dir for installing custom libs, it is `/usr/local`.

So the `make install` on macOS should install everything to `/usr/local` instead of `/usr`.
I.e. to `/usr/local/lib` and `/usr/local/include`.

[2017-02-13 14:37] jmcnamara commented on #93
Hi,

Yes. Agreed. That would be better for Linux as well.

I also want to add a `INSTALL_DIR` or `DESTDIR` variable to allow the dir to be specified/overridden.

I'll add it in the next release.

Thanks for the suggestion.

John

[2017-02-22 04:23] papa-kilo commented on #30
This capability would be useful for my uses. I'm willing to work on this if that would be helpful to you.

[2017-02-22 04:25] papa-kilo commented on #30
+1

[2017-02-24 14:50] Paxa commented on #54
I didn't find existing wrapper and made my own https://github.com/Paxa/fast_excel
Actually following same idea as https://github.com/bebanjo/xlsx_writer_wrapper

[2017-02-24 16:07] jmcnamara commented on #54
@Paxa

Thanks for letting me know.

Out of curiosity, how much faster are these Ruby wrapper modules in comparison to the pure Ruby write_xlsx module.

[2017-02-25 17:01] Paxa commented on #54
@jmcnamara

I never used write_xlsx, we were using `axlsx`. My measurements:
[code]

So only file generation times: CSV: 2.6,  axlsx: 13.1, fast_excel: 3.5

I got best excel generation times when converting unix time to excel format by myself and write it with `worksheet_write_number` (converting timezones and creating objects is expensive in ruby)

[code]

[2017-02-25 23:29] ragundo commented on #91
+1
Needed for daily/month/year reports generation

[2017-02-26 10:28] ale275 commented on #91
+1
perfect for report and trend analysis

[2017-02-26 17:45] Paxa commented on #54
Just tested `write_xlsx` and fastest I can get is 88 seconds (for same 20k report as my previous comment)

[2017-02-27 03:10] Paxa opened #95 "How to set custom theme?"
As I see `workbook_close` will always call `_write_theme_file` and it will always read `theme_strs`

Is there a way to override default theme?

[2017-02-27 07:09] Paxa opened #96 "How to keep default font size?"
Whenever I create format it will set font size to 11

I think it should not set font size when we create format, people may change default Excel font size settings in on their computer.
And it should allow to call `format_set_font_size(format, 0)` to reset to default

What you think? I can create pull request

[2017-02-27 10:16] jmcnamara commented on #95
It isn't possible to set the theme in my Perl/Python/C/Lua libraries. Mainly because changing the theme also changes the fonts and the default row and column sizes associated with them. This in turn affect the size calculations for inserted objects such as images or charts.

It may be something that is supported one day but it isn't on any of the shorter term roadmaps.

[2017-02-27 10:16] #95 closed

[2017-02-27 10:17] jmcnamara commented on #96
Same comment as #95. Changing the default font changes the row and column sizes which in turn changes object dimensions on the worksheet.

So this isn't supported.

[2017-02-27 10:17] #96 closed

[2017-02-27 12:01] jmcnamara commented on #91
Hi,

I'll add this as the next major feature.

Note, it is currently possible to use an implicit date axis by using date input data for the X-axis, see the example below. This Feature Request is mainly to add an explicit chart date axis option (like Excel) to enable max and min values and a few other features. Also note, the max and min is also currently available if you use a scatter chart (altho

[2017-02-27 13:18] Paxa commented on #96
If some dimensions are not correct we can always specify manually, right?

I try to make some examples:

All font sizes: 11 (current code)
![screen shot 2017-02-27 at 21 10 54](https://cloud.githubusercontent.com/assets/26019/23362648/b0e405ee-fd31-11e6-921e-523cbd3ff9b7.png)

All fonts sizes: 20
![screen shot 2017-02-27 at 21 10 00](https://cloud.githubusercontent.com/assets/26019/23362617/9485b6

[2017-02-27 16:25] jmcnamara commented on #96
Yes. If the row height or column width changes you can scale your images accordingly via the APIs.

You can see that in your screenshots the C image is different sizes. It should be the same as the first one in each of the others.

Yes. The internal calculations for object sizes and positioning is based on default, or user specified, row heights and column widths. Changing the font type or size wi

[2017-02-27 20:20] MrMage opened #97 "Codesigning the libxlsxwriter framework fails on macOS"
When trying to depend on libxlsxwriter via CocoaPods in a macOS target, signing libxlsxwriter.framework fails with the following error message:

[code]

The problem is that the framework target is set up such that `xlsxwriter.h` is put into the framework's main directory, alongside the `xlsxwriter` binary. It appears that the `codesign` utility only expects binaries in that directory when signing

[2017-02-28 11:56] jmcnamara commented on #97
@lrossi Could you have a look at this and the associated pull request. Thanks.

[2017-02-28 11:59] lrossi commented on #97
Yes, I'll take a look ASAP

[2017-02-28 12:35] Paxa commented on #96
Thank you for detailed explanation. I think now days displays having higher DPI, so I think many people will just set bigger font size for all fields (adding custom format), and that will affect image size calculations:
![screen shot 2017-02-28 at 20 17 37](https://cloud.githubusercontent.com/assets/26019/23405253/58ab0aee-fdf4-11e6-907d-74a78f3120dd.png)

I usually generate xslx files for financi

[2017-02-28 20:34] Alexhuszagh opened #99 "CMake Build System (Pull Request)"
I wrote a CMake build system for libxlsxwriter, and passes all the entire unit test suite for multiple different build environments.

The new build system should work for:
- Visual Studio Projects (and can generate Visual Studio Solutions)
- MinGW on Windows, MSYS2
- MXE
- XCode Projects (and can generate XCode projects)

The new build system has been tested to work for:
- Linux, G++ 6.3
- Linux,

[2017-03-01 09:58] jmcnamara commented on #99
Hi,

Thanks for that. There was a similar feature request recently: #80 and an associated pull request #82. However, the previous one was more invasive so I wasn't keen on it.

Your one looks cleaner but maybe you can have a look at #82 anyway for ideas.

I'd like to add some CMake support but I don't think I will be able to maintain it. If the maintenance requirement is low I'd be willing to add

[2017-03-01 10:03] jmcnamara commented on #80
See also #99

[2017-03-01 20:44] Alexhuszagh commented on #80
So I've updated the fork [here](https://github.com/Alexhuszagh/libxlsxwriter/blob/master/CMakeLists.txt).

**Pros:**
- Less than 500 lines of code, of which less than 200 are specific to libxlsxwriter
- Source file globbing for minimal maintenance.
- Automatic versioning (see lines 68-73).
- Optional, manual `ZLIB_ROOT` for custom ZLIB install directories (only required for unittests and examples)

[2017-03-01 21:19] burlen commented on #80
Hi Alexander,

Cool. By the way my fork has much of that functionality and the tests
working for out of source builds as well. :)
https://github.com/burlen/libxlsxwriter/tree/cmake_configure
although I hadn't ever tested mine on Visual Studio, just OSX and Linux
where we currently need it.

Burlen

On 03/01/2017 12:44 PM, Alexander Huszagh wrote:

[2017-03-01 22:01] burlen commented on #80
That's probably going to make things more difficult than you anticipate.
from the cmake documentation:

    (We do not recommend using GLOB to collect a list of source files
    from your source tree. If no CMakeLists.txt file changes when a
    source is added or removed then the generated build system cannot
    know when to ask CMake to regenerate.)

On 03/01/2017 12:44 PM, Alexander Huszagh wr

[2017-03-01 22:17] Alexhuszagh commented on #80
@burlen That's an issue if the maintainer is primarily using the build system. As an external build system for an existing project, it's entirely fine (and much easier).

It's true, if you don't edit the CMakeLists, then the build system isn't updated. But this lowers the amount of maintenance for @jmcnamara to maintain the CMake build system, since it should handle new files with any fresh build.

[2017-03-01 23:07] burlen commented on #80
so to me, I want things done according to best practices it increases
quality reduces maintenance over time. when I integrated cmake into
libxlsxwriter, I ended up applying best practices, which meant some
differences compared to the current Makefiles.

I think the down side of trying to emulate the current Makefile is that
you'd not be able to transition to CMake as the primary build system,
with

[2017-03-03 08:15] jmcnamara commented on #80
That looks good. Submit a PR as a single (squashed) commit and I'll merge it. It doesn't need to have every build option in the first version. You or others can add to it as required.

Could you change this to FreeBSD. That is the main license.

Don't be too worried about zero maintenance. I can add dirs to the file if required. :-)

Automatic versioning isn't required since the Make build already

[2017-03-09 18:46] Alexhuszagh opened #102 "`char*` to `const char*` for chart"
[chart.h](https://github.com/jmcnamara/libxlsxwriter/blob/master/include/xlsxwriter/chart.h) and [chart.c](https://github.com/jmcnamara/libxlsxwriter/blob/master/src/chart.c) currently use `char *` for 3 functions (`chart_series_set_labels_num_format`, `chart_series_set_trendline_name`, `chart_axis_set_num_format`), without modifying the source buffers. These should take `const char *` as an argum

[2017-03-20 16:27] jmcnamara commented on #99
Closed with PR #100.

[2017-03-20 16:27] #99 closed

[2017-04-25 21:14] kubajar opened #104 "MultiByteToWideChar breaks file name"
lxw_workbook  *workbook  = workbook_new("filename.xlsx"); saves f instead of filename.xlsx.

Small fix in [packager.c in line 62](https://github.com/jmcnamara/libxlsxwriter/blob/master/src/packager.c#L62) fixes filename for me (program saves filename.xlsx): .

[code]

tested on latest trunk + Visual Studio 2010.

have a nice day.

[2017-04-26 10:23] jmcnamara commented on #104
I haven't had any other bug reports of that nature and that Windows code is used quite a lot.

Also, I don't see any issue with MSVC 2015. Is this just an issue with MSVC 2010.

@utelle, as the resident Windows expert, could you have a quick look at this to see if there is an issue?

[2017-04-26 11:18] utelle commented on #104
I use `libxlsxwriter` in a 32-bit Windows application compiled with MSVC 2010. Up to now neither the users of my application nor I myself had any issues with it.

However, it might depend on compiler settings. The filename parameter is passed as `const void*`. Down the line this is casted to `LPCTSTR` in function `win32_open64_file_func` (iowin32.c).

The type `LPCTSTR ` is defined as
[code]
So, i

[2017-04-26 13:50] kubajar commented on #104
/D "_UNICODE" /D "UNICODE" is present in command line. I used cmake for makefile generation, maybe there is some issue. Tested both Unicode and multibyte character sets. It must be something unicode-specific, like in code (unicode character set):
[code]

[2017-04-26 14:05] utelle commented on #104
You will have to verify that all `libxlsxwriter` source files are really compiled with the Unicode symbols. `libxlsxwriter` always converts the filename to wide string. Thus, for your filename `filename.xlsx` the memory contains the bytes `'f'` followed by `'\0'` followed by `'i'` followed by `'\0'` and so on. If casted to `const char*` you therefore get the filename `f` due to the zero byte.

Obv

[2017-04-26 14:19] kubajar commented on #104
I found the problem - I compilled zlib and zlibwapi as multibyte. I switched character set to unicode and all works perfectly. Thank You for great software and help. Have a nice day.

[2017-04-26 14:35] jmcnamara commented on #104
@kubajar Thanks for the update and @utelle thanks for the help. Closing.

@kubajar for reference could you add the commands you used to build with cmake.

[2017-04-26 14:35] #104 closed

[2017-04-26 14:38] evanmiller commented on #31
I'd like to put in a plug for this feature -- its absence is one of the few things keeping my code base dependent on xlsLib. Just so other users are aware, Excel's data validation is how drop-down menus are implemented for choosing among a discrete set of values.

Also @jmcnamara the correct link is: https://xlsxwriter.readthedocs.io/working_with_data_validation.html

[2017-04-26 15:15] jmcnamara commented on #31
@evanmiller Noted.

[2017-05-22 17:15] Alexhuszagh commented on #102
I'm wondering if there's any updates on this? I wrote C++ wrappers for your C API (that I am looking to maintain) using object-oriented design and this would be the last remaining step so I could build off the source tree.

[2017-05-23 08:14] jmcnamara commented on #102
I've been very busy and haven't had time to work on my OS project recently. However, I'll try push this up soon.

It would be good if there was some test, or tests, that I could add that would catch this and other C++ issues in the interface. Can you suggest something?

[2017-05-23 14:40] Alexhuszagh commented on #102
@jmcnamara No worries, thanks for all the help.

I can think of a few solutions (although none are preferable):

1. Add you as a collaborator for the project with libxlsxwriter as a submodule using Travis CI to test for any changes. (This adds another project for you to maintain, which I'd rather not do).
2. I add libxlsxwriter as a submodule and track specific revisions rather than master, and up

[2017-06-02 06:44] AlfonsoUceda opened #105 "libxlsxreader"
Hi @jmcnamara

Thanks for your work, I open this issue to asking a question, is there a similar version like libxlsxwriter but for reading? libxlsxreader?

Thanks ;)

[2017-06-02 07:30] jmcnamara commented on #105
Not that I'm aware of. However, I've never really needed or looked for one either.

Sorry I can't be of more help.

[2017-06-02 07:30] #105 closed

[2017-06-02 07:31] AlfonsoUceda commented on #105
 @jmcnamara thank you ;)

[2017-06-06 20:29] spulchtopek opened #106 "Too many open files when adding lots of images"
I am trying to generate a spreadsheet that has one or more columns of icons in addition to columns of text and numbers. I tried using the `worksheet_insert_image()` function to insert the icons (PNG images) into the column cells for the appropriate row.

It works fine as long as the number of total images is small. As soon as the number of images exceeds ~250, they are no longer added to the sprea

[2017-06-07 09:05] jmcnamara commented on #106
Thanks for the report.

That is a bug. It should be a relatively easy fix.

[2017-06-21 19:03] Alexhuszagh opened #107 "Feature Request: Supporting unittests on MSVC"
Hi jmcnamara,

I've written a patch that would allow fully functional unittests on MSVC, with a few small patches.

1. Changed `__attribute__` to `#define`s, which are removed on MSVC (so the same functionality is kept elsewhere) in `ctest.h`.
2. Grabbed a [public domain](https://github.com/Alexpux/mingw-w64/blob/master/mingw-w64-crt/misc/gettimeofday.c) `gettimeofday` implementation for Windows,

[2017-06-22 09:41] jmcnamara commented on #107
Hi Alex,

Thanks for the suggestion.

At the moment getting the unittests to work with MSVC isn't a high priority.

A guide to building a sample app, or all the sample apps, with CMake and MSVC would be much more useful. Pinging @jimzshi on this as well.

John

[2017-06-22 09:48] jmcnamara commented on #107
P.S. It looks like the latest version of Ctest may be more Windows compatible: https://github.com/bvdberg/ctest

[2017-06-22 17:30] Alexhuszagh commented on #107
@jmcnamara I quickly looked over it: it's most of the way there but it's missing a `gettimeofday` implementation, which was suggested in a PR.

For the other issue, I can create a sample app using cmake later today.

As far as the total diff to get CTest working, here it is (there are the other changes in IOAPI, but those are a single line).

[code]

[2017-06-23 08:53] jmcnamara commented on #107
That would be the best option. If you can't get it upstream into CTest you can submit a PR here and I'll add it into the libxlsxwriter copy.

[2017-06-25 19:31] jmcnamara commented on #102
I've fixed this on master and added a test so that other omissions like this are caught in the future.

[2017-06-25 19:31] #102 closed

[2017-06-25 22:38] jmcnamara commented on #93
I've pushed a change to master so that files are installed to `/usr/local` by default. The installation dir  can be overridden by using the `INSTALL_DIR` environmental variable:

    INSTALL_DIR=/usr/third_party make install

Thanks for the suggestion.

[2017-06-25 22:38] #93 closed

[2017-06-26 11:21] Diddlik commented on #32
Hello, is it known when this feature is finished?
It is the last thing, what I'm missing in this library.
BR Pavel

[2017-06-26 11:38] jmcnamara commented on #32
There is no planned date for this. It is on the shorter todo list but it is also non-trivial and I don't have a lot of time at the moment.

You will get an update on this issue when there is something new.

[2017-06-27 00:23] jmcnamara commented on #106
Fixed in version 0.7.0 on master and in Cocoapods.

[2017-06-27 00:23] #106 closed

[2017-06-27 00:26] jmcnamara commented on #107
Hi @Alexhuszagh, just submit a PR for the changes above and I'll merge it. No need to try upstream it to CTest first.

[2017-07-05 07:47] trikkegitaar commented on #32
+1

[2017-07-07 20:51] ragundo opened #108 "Missing iowin32.c in CMakeList.txt"
Hi
After two hours trying to figure out why I was always getting linker error after compiling a VS2015 solution of the libreary using the new cmake feature, I realized that `iowin32.c`  is not added to the library with the provided CMakeLists.txt

**Original CMakeLists.txt**
`list(APPEND LXW_SOURCES third_party/minizip/ioapi.c third_party/minizip/zip.c)`

**Modified**
`list(APPEND LXW_SOURCES thir

[2017-07-10 09:46] jmcnamara commented on #108
Hi @ragundo,

Could you post the steps you did so that I can try to reproduce this.

That is a know issue with MSVC/libxlsxwriter which is usually fixed by the following function which should be included for MSVC when `_WIN32` is defined.

https://github.com/jmcnamara/libxlsxwriter/blob/master/src/packager.c#L43

Check the code in MSVC to see if it is defined in or out.

@Alexhuszagh, can you have

[2017-07-10 15:34] Alexhuszagh commented on #108
Hi @jmcnamara, I think I've found the issue with this. I've found two small issues with the CMakeLists, I'll send a patch later today. One is the OP's issue, the other is setting _WIN32 for CMake legacy.

[2017-07-10 15:41] Alexhuszagh commented on #108
@jmcnamara, if you would like, I can add in a CI file for AppVeyor, which provides continual integration using Visual Studio, in addition to Travis CI, so these VS-specific issues won't occur again.

[2017-07-10 19:40] jmcnamara commented on #108
That sounds like a good idea.

[2017-07-10 19:47] jmcnamara commented on #108
@Alexhuszagh P.S. I've set up a AppVeyor project (but haven't configured the build .yml yet): https://ci.appveyor.com/project/jmcnamara/libxlsxwriter

[2017-07-10 20:57] Alexhuszagh commented on #107
Hi @jmcnamara, sorry for the delay, I've been busy on another project. I'll make a PR for this, and have separate commits for each of the changes.

[2017-07-10 21:37] Alexhuszagh commented on #108
@jmcnamara I've patched that bug, and set up upstream continual integration on Tea-CI (MSYS2/MinGW, it's what the MSYS2 project uses), AppVeyor (MSVC), and I should have everything working. I've had a slight issue with the MSVC builds, so I'll patch that, make everything nice and pretty in the commit history, and submit a pull request. Let me know if you want [Tea-CI](https://tea-ci.org/), or do n

[2017-07-11 07:54] #107 closed

[2017-07-11 07:54] #108 closed

[2017-07-11 10:37] jmcnamara commented on #108
@ragundo Can you check that your issue is resolved on master.

[2017-07-14 07:11] trikkegitaar opened #110 "dcterms created and modified timestamps incorrect"
In core.c the static function _localtime_to_iso8601_date is used to convert `time_t` to ISO8601 timestamp.
The `time_t` (epoch UTC) is first converted to local time `struct tm` and then to a string, but with a Z-suffix. This is wrong. In order to use the Z-suffix, the time stamp must be UTC time, not local.
To convert the `time_t` to a UTC time `struct tm`, the `gmtime` function could be used inst

[2017-07-19 07:35] mileder opened #111 "Wrong Styles in large Sheet file"
after creating the large excel sheet (approx. 25.000 lines) the styles are not assigned / available.

In the XML file of sheet styles have negative id's: probably overflow somewhere

[2017-07-19 09:41] jmcnamara commented on #111
Hi,

As you say it is probably an overflow issue. However the type should be int32_t so it should take several billion unique formats to overflow.

Do you actually have so many unique formats that the default size would overflow?

The best thing would be to post a small working example that demonstrates the issue.

John.

[2017-07-19 18:52] mileder commented on #111
[11000000-0485-24C5-2017-070615061377.xlsx](https://github.com/jmcnamara/libxlsxwriter/files/1160133/11000000-0485-24C5-2017-070615061377.xlsx)

[2017-07-20 11:13] mileder commented on #111
i send you an email with example file

[2017-07-20 12:48] Tikani opened #112 "Compilation failed"
I'm trying to build this library under Windows as DLL (i want to write a Delphi/ObjectPascal wrapper over it for my project) using the latest available MinGW-x64 (i686 flavor) from the official site, but encountered an error.

Output:
[code]

[2017-07-20 17:18] jmcnamara commented on #112
Try the installation instructions form the docs: [Installation on Windows using Mingw-w64 and MSYS2](https://libxlsxwriter.github.io/getting_started.html#gsg_ming).

The `fPIC` issue should be fixed by the Makefile for the various Ming variants but maybe something is missing for the 32bit version.

Anyway, try the instructions above from scratch and let me know.

[2017-07-20 21:31] Tikani commented on #112
Thanks a lot, DLL was successfully built within MSYS2 shell. Can I suggest an ObjectPascal wrapper over this library in a pull request? Maybe it will increase a userbase of it (under Windows, at least :D). If you don't change API signatures from release to release, I think it is really good idea.

[2017-07-24 15:28] #111 closed

[2017-07-24 15:39] jmcnamara commented on #112
It would probably be better to host that in a separate GitHub repo.

There are already some wrappers for Ruby, Go, Python, C++ and some other languages: https://github.com/search?q=topic%3Alibxlsxwriter&type=Repositories

Let me know if you create one.

Thanks,

John

[2017-07-24 15:39] #112 closed

[2017-07-24 16:09] jmcnamara commented on #110
Hi,

Thanks. I had a similar issue in the Perl and Python versions as well but forgot to fix it in the C version.

I'll look into it.

Thanks,

John

[2017-07-24 20:16] jmcnamara commented on #110
Fixed in version 0.7.1.

Thanks for the report.

[2017-07-24 20:16] #110 closed

[2017-07-25 11:39] mileder opened #113 "Feature request: possibility to create xslx file in memory"
the zlib allows operations only in memory. It would be great to have possibility to create the Excel file just in memory.

[2017-07-25 15:55] jmcnamara commented on #113
It is a good idea and the Perl and Python versions of the library support it.

However, the internal plumbing of libxlsxwriter is based on `FILE*` pointers and functions so converting it over would be a bit messy. It is the sort of thing that would be more easily done in C++.

So unfortunately it is a "won't fix" for now.

[2017-07-25 15:55] #113 closed

[2017-07-26 07:19] ohmyarch opened #114 "Add support for floating-point number font size"
void format_set_font_size(lxw_format *format, uint16_t size)
->
void format_set_font_size(lxw_format *format, double size)

[2017-07-26 08:13] jmcnamara commented on #114
Hi Michael,

Good point. I'll fix that.

John

[2017-07-26 23:00] jmcnamara commented on #114
Fixed in version 0.7.2.

Thanks for the report.

[2017-07-26 23:00] #114 closed

[2017-07-27 03:43] ohmyarch commented on #114
🎉👍

[2017-07-28 14:36] ohmyarch opened #115 "Link zlib when building shared library with MinGW-w64"
CMakeFiles/xlsxwriter.dir/objects.a(zip.c.obj): In function 'zipWriteInFileInZip':
libxlsxwriter/third_party/minizip/zip.c:1414: undefined reference to 'crc32'
...

[2017-07-29 00:21] jmcnamara commented on #115
@Alexhuszagh could you take a look at this.

@ohmyarch could you add the command line you used and the build environment.

[2017-07-29 03:48] ohmyarch commented on #115
@jmcnamara https://tea-ci.org/ohmyarch/libxlsxwriter/1

[2017-07-29 08:32] jmcnamara commented on #115
@ohmyarch

Are you compiling this in MSYS?

Does it work with a 64bit target?

For a 32bit build do you have to install 32bit versions of the zlib-devel libraries?

[2017-07-29 08:33] jmcnamara commented on #115
Also can you try the standard make system for libxlsxwriter: http://libxlsxwriter.github.io/getting_started.html

[2017-07-29 13:24] ohmyarch commented on #115
I have tried both 32bit and 64bit build, the same error. All 32bit/64bit static/shared zlib libraries was installed. CMakeLists.txt need some correction to link zlib library when building shared libxlsxwriter library with MinGW-w64.

In addition, standard linux build(static/shared) and mingw static library build works fine.

[2017-07-31 19:47] Alexhuszagh commented on #115
Hi @jmcnamara, sorry for the late response, I've tried to stop doing work on weekends and am writing my thesis. I'll look into this later today.

@ohmyarch, let me check the configuration. Nothing in the CMakeLists should be dependent on a shared library, since it finds the system's installation.

[2017-07-31 22:21] jmcnamara commented on #115
@Alexhuszagh Don't worry about it. Stick with your thesis.

[2017-08-01 16:10] jmcnamara commented on #115
@ohmyarch Correction I do see the issue now. Updating my log ...

[2017-08-01 16:28] jmcnamara commented on #115
@ohmyarch and @Alexhuszagh It looks like the shared lib isn't linked with `-lz`. Adding that to the link command in `CMakeFiles/xlsxwriter.dir/link.txt` fixes the issue. We just need to figure out how to add that to the Cmake script.

[2017-08-01 17:34] jmcnamara commented on #115
I tried different variations of the following in CMakeLists.txt but it didn't work because they add the flag to the start of the compile list instead of the end.

[code]
The same effect occurs with:

[code]

[2017-08-01 18:51] Alexhuszagh commented on #115
@jmcnamara The `target_link_libraries` and `find_package(ZLIB, ...)` should automatically add those in. If `-lz` is not getting added in, there's a bug in the logic with those steps somewhere.

[2017-08-02 08:26] jmcnamara commented on #64
@BongoVR thanks for the information.

[2017-08-06 12:47] utelle commented on #64
Using the static runtime library of MSVC in a DLL can cause a lot of problems, if not used very carefully, especially since the DLL will use its own memory management. Besides that this "solution" is MSVC specific.

Therefore I would prefer a generic solution that generates correct output for variables of type double independent of the locale.

As mentioned in my post of July 11, 2016, I adjusted

[2017-08-08 16:46] jmcnamara commented on #64
@utelle I will probably implement a macro for `snprintf()` with `"%.16g"` so that the user can override it with their own function. I'm not in favour of adding dtoa at this time however.

[2017-08-08 17:27] utelle commented on #64
Any specific reason for not using dtoa?

All what I can tell is that I use it in a commercial application and it works flawlessly. That is, the resulting files can be opened by Excel without any problems.

IMHO you should at least isolate the output of double values into a separate function as I did, so that a change is necessary at a single place only.

[2017-08-08 17:48] utelle commented on #64
I still think that the `libxlsxwriter` should provide a locale independent solution for writing double values right out of the box instead of leaving it to the user of the library to build some sort of workaround (by using compiler specific functions like `_sprintf_l`, by isolating the library into a separate DLL as proposed by @BongoVR, or by any other means).

[2017-08-08 18:16] utelle commented on #64
I modified the `dtoa` code to not emit a decimal point and a trailing zero for doubles representing integer numbers ... and now [CI on Travis](https://travis-ci.org/utelle/libxlsxwriter) passes all tests.

[2017-08-09 16:11] jmcnamara commented on #64
I looked at the emyg_dtoa.c implementation last year when you posted it and again today. I couldn't get it to compile without modification and it doesn't have any significant test suite. I see that you also had to patch it to get it to work. So for me it is a non-runner.

Of the others in the benchmark the Gay algorithm should be stable and tested, and it compiles everywhere but it is slower than

[2017-08-09 22:27] utelle commented on #64
Unfortunately you are right that the [dtoa benchmark](https://github.com/miloyip/dtoa-benchmark) project seems not to be the best source for a `dtoa` implementation. Yes, I had to tweak `emyg_dtoa` to make it compile, but as far as I can tell the algorithm works properly.

If you tend to use the `dtoa` implementation of David Gay, then do not use the sources from the [dtoa benchmark](https://githu

[2017-08-10 10:47] petricf opened #116 "Issues building libxlswriter on Gentoo Linux with system minizip"
On Gentoo Linux minizip is usually installed system wide. This conflicts with the packaged minizip.

The following patches remove the dependency in CMakeLists.txt and adjust the include in packager.h
They are based on the 0.7.2 release.

My suggestion is to add an option for cmake to use the system minizip instead of the built in one.
Sorry - i don't know much on cmake, so maybe an other one will

[2017-08-10 11:42] jmcnamara commented on #116
Hi @petricf,

Thanks for the report.

1. Could you add some instruction on how to replicate the issues on Gentoo?
2. Does the issue happen if you use the Makefile based build system?

John

[2017-08-10 15:11] petricf commented on #116
Hello,

imho this is a problem in which the sequence of include directories are scanned for header
files - system vs. packaged.

1. How ro replicate.

Gentoo uses a *.ebuild file contining instructions on how to build integrate a package into
the system. Mine reads this way w/o patches):
----------------- cut ----------------------
EAPI=5
*inherit* cmake-utils
DESCRIPTION=*"An C implementation of

[2017-08-10 15:17] petricf commented on #116
Missed attachment - renamed to build.txt
[build.txt](https://github.com/jmcnamara/libxlsxwriter/files/1215398/build.txt)

[2017-08-10 16:41] jmcnamara commented on #116
What is the output of the following on your system:

[code]

P.S. Could you post the output via the GitHub website (rather than email) and place it between verbatim commands ``` (3 backticks at the start and end).

[2017-08-10 23:29] petricf commented on #116
Find attached the screen output (test.txt)

System was configured for german output, so i prefixed the LANG variable.

Am Donnerstag 10 August 2017, 09:41:49 schrieb John McNamara:

petric@main ~/test $ LANG=en_US.UTF-8 git clone https://github.com/jmcnamara/libxlsxwriter.git
Cloning into 'libxlsxwriter'...
remote: Counting objects: 7625, done.
remote: Compressing objects: 100% (27/27), done.
remo

[2017-08-10 23:32] petricf commented on #116
Find attached the screen output (test.txt) as requested.

[test.txt](https://github.com/jmcnamara/libxlsxwriter/files/1216615/test.txt)

[2017-08-11 00:04] petricf commented on #116
Compiler info:
[code]

Default include search paths are:
[code]

[2017-08-11 09:53] petricf opened #117 "Open error of file under Windows Excel 2016"
Generating an xlsx-file under Linux (libxlsxwriter version 0.7.2). The code:
[code]

The resulting file:
[test-excel.xlsx](https://github.com/jmcnamara/libxlsxwriter/files/1217460/test-excel.xlsx)

When opening this file with Excel 2016 (Windows 7) i get the following errors:
![error1](https://user-images.githubusercontent.com/30858197/29208358-03c443e4-7e8a-11e7-85c2-c2f4db8a8c6a.PNG)

Selecting

[2017-08-11 10:07] utelle commented on #117
Which locale is active while your application is generating the Excel file? Obviously not the C locale, since I inspected your test file and found out that the decimal separator used for writing `double` values is a comma. This doesn't work - as you experienced. The decimal separator has to be a point.

[2017-08-11 10:35] jmcnamara commented on #117
@petricf I had a look at the file and @utelle is correct. There is a comma instead of a point due to the local.

See #64 for a long discussion.

I'm going to close this as a duplicate of #64.

[2017-08-11 10:35] #117 closed

[2017-08-11 11:04] petricf commented on #117
Am Freitag 11 August 2017, 10:35:04 schrieb John McNamara:

comma

Thanks. I'll subsrcibe to #64.

Hopefully this will fixed soon.

[2017-08-11 12:20] jmcnamara commented on #116
I'm finding it very hard to reproduce this on other Linux systems even after installing minizip into the system. From a bit of googling it looks like it only occurs on Gentoo.

A couple of questions:

1. Is zconf.h installed on your system and if so where? For me it is in `/usr/local/include/zconf.h`.
2. What version of Gentoo are you using?
3. If I wanted to replicate a system to reproduce this i

[2017-08-11 13:02] petricf commented on #116
1. zconf.h is in /usr/include
2. amd64 13.0 (base) + kde plasma desktop
3. Usually follow https://gentoo.org/get-started/
   This will get you to a non-gui installation. The latest stable version should be ok.

Gentoo is a distribution where you compile (nearly) everything from source. It uses a ports like system (inspired from BSD ?) to manage the installed packages.

Which VM system you intend t

[2017-08-11 13:19] jmcnamara commented on #116
Virtualbox

[2017-08-11 13:43] petricf commented on #116
Should be installable w/o a problem. I use proxmox (http://pve.proxmox.com) for my test installations - so i can't provide a VM directly.
But this may help: http://www.osboxes.org/gentoo/

[2017-08-11 17:46] petricf opened #118 "Question: Column Auto-Fit"
I've read in the FAQ that this is not available here. But a hint for a workaround was given:
[code]

I don't know how evaluate the data width on strings or numbers i intend to write. How to map it to a column width for use (for example) in function worksheet_set_column ?

Is there some sample code available ?

[2017-08-12 01:36] jmcnamara commented on #116
Hi,

I got a Gentoo VM built and I was able to replicate the issue. It is in the category best described as "interesting".

It turns out that it is caused by Gentoo redefining a macro in  libs zconf. Because why not fix a "[bad](https://bugs.gentoo.org/show_bug.cgi?id=383179)" macro name and let some poor schmucks downstream tear their hair out for a day or two.

Anyway, I've pushed a fix to maste

[2017-08-12 01:51] jmcnamara commented on #118
From the docs for [worksheet_set_column()](http://libxlsxwriter.github.io/worksheet_8h.html#a9656e4e05d3787eee6b3e4d8e82d9b7f):

What this means in practice is that in the default font the column width is approximately equal to the length of the string (unless the string is iiiiiiii or WWWWWWWW). To be sure you could multiply the strlen() by 1.1 or 1.2.

[2017-08-12 01:51] #118 closed

[2017-08-12 07:08] petricf commented on #116
Thanks for your efforts.

I can confirm that your fix works for the Makefile based build.

The patches i posted on top of this issue also works for me. I can live with that.
You do not have to make a release only driven by the change above.

Could you consider adding a cmake option to use a system wide installed minizip instead of the packaged one ?

[2017-08-12 13:30] jmcnamara commented on #116
Ok. I thought that maybe your were going to submit a port/ebuild for libxlsxwriter to Gentoo. If not I'll just let the change trickle into the next release.

To be clear: the issues isn't that there is a system wide minizip since that isn't an issue on Ubuntu, Fedora or other systems. The issue is that the Gentoo maintainers patch the standard zlib/zconf headers to redefine a macro name that they

[2017-08-12 13:56] jmcnamara commented on #116
This issue is now fixed on master for cmake and make.

@Alexhuszagh Can you have a quick look at CMake fix: f256dc2ae9b3890d0df7ae92f234a7f7db5039f7 to see if everything looks okay. No rush.

[2017-08-12 13:56] #116 closed

[2017-08-12 14:33] ohmyarch opened #119 "Use system minizip when possible"
When system-wide installed minizip can be found, use it instead of bundled one.

[2017-08-12 14:56] jmcnamara commented on #119
Why do you want this feature?

[2017-08-12 15:53] ohmyarch commented on #119
Why do you use system zlib?

[2017-08-12 16:07] jmcnamara commented on #119
Because zlib is very common and available almost everywhere. Minizip isn't.

[2017-08-12 17:28] petricf commented on #116
I've added the ebuild for 0.7.2 to gentoo bugtracker: https://bugs.gentoo.org/show_bug.cgi?id=627452

This ebuild-version includes the two patches i created for using the system minizip. They will be applied during the build process.

As soon as 0.7.3 (or whatever version the fixed release gets) is out (and i get knowledge of it) i will update the ebuild for gentoo and remove the patches.

[2017-08-12 17:44] ohmyarch commented on #119
I don't think so. Minizip is also a common package and can be installed via a single command in many cases, for example:
[code]
[code]
I am not asking you to remove the bundled version. I just think that it's usually better to use the system library. Using system (shared) libraries can save disk space and memory. Besides, system libraries can be always up-to-date in some rolling release distro.

I

[2017-08-12 18:04] jmcnamara commented on #119
Thanks for the explanation. When I started this project 3 years ago I didn't see many packaged versions of minizip. In general I would prefer not to have to bundle it.

I'll add this feature to the Make build system. Adding it to the CMake system may take a bit longer.

[2017-08-12 20:30] jmcnamara commented on #116
Version 0.7.3 is available now. Thanks for submitting the ebuild file.

[2017-08-13 14:53] petricf commented on #116
Confirmed - patches are no more required for Gentoo.

I've posted an updated ebuild to https://bugs.gentoo.org/show_bug.cgi?id=627452.

[2017-08-14 10:22] jmcnamara commented on #116
Thanks for that. Let me know if it gets added.

P.S. There is a feature request to use system minizip when possible, that you might be interested in. See: #119.

[2017-08-14 21:48] jmcnamara commented on #119
I've added this to the master branch for the Makefile build system. It can be invoked as follows:

    USE_STANDARD_TMPFILE=1 make

[2017-08-14 21:49] jmcnamara commented on #119
@Alexhuszagh When you get a chance can you look at adding support for system minizip to the CMake system as well.

[2017-08-17 09:44] jmcnamara commented on #119
@ohmyarch Did you get a change to try this?

[2017-08-21 14:47] jeroen opened #120 "How to iterate for best performance"
The examples iterate over rows first, and within each row over the fields. Is it also possible to fill the sheet column-wise, or is this much slower? Column wise is often easier and faster to implement if the original data have typed columns (e.g. sql tables).

Additional question: if I know in advance the that the data is `n` by `m` is there an option to preallocate the `lxw_worksheet` of the rig

[2017-08-21 15:10] jmcnamara commented on #120
Hi Jeroen,

The worksheet cell data is stored in Red-Black trees by row so iterating by row is faster. And when using [`constant_memory`](https://libxlsxwriter.github.io/workbook_8h.html#a8ca9bd8c30c618b81ca6180f78b03323) mode you have to write the data in row x column order.

Unfortunately not. As usual the choice of internal data structure is a trade off. For ease of use libxlsxwriter, and for s

[2017-08-21 15:28] jeroen commented on #120
OK that makes sense thank you. One final performance question:

My input timestamps are stored as (standard unix) double with seconds since 1970-01-01. From your [ documentation](https://libxlsxwriter.github.io/working_with_dates.html) I read that excel also uses doubles but a different scale:

Is there an obvious way to insert unix doubles as dates without first converting everything to `lxw_date

[2017-08-21 15:54] jmcnamara commented on #120
Excel dates are stored as an integer and fraction part where the integer part is the number of days since the Excel epoch (~1/1/1900) and the fractional part is time as the percentage of the day in seconds.

So to convert from Unix time (seconds since Unix epoch) you could do the following:

    # Excel date for 1/1/1970 = 25569.0
    # Number of seconds in day =  (24*60*60)

    # Unixtime to Exc

[2017-08-22 10:48] jeroen opened #121 "worksheet_write_string raises error for empty string string"
I found that `worksheet_write_string()` raises an error when inserting an empty string `""` value:

     NULL function parameter ignored.

In my data the empty string `""` is an actual value and different from no value `NULL`. Does Excel not support empty strings?

[2017-08-22 11:26] jmcnamara commented on #121
No.

Excel ignores empty strings **unless** it has a format. This allows you to format blank cells as part of a formatted area. But blank or empty strings without formatting are never stored by Excel.

So libxlsxwriter returns an error/warning to let the user know that the parameter is being ignored.
However, the error probably isn't correct in this case since you aren't passing a `NULL`. It shoul

[2017-08-22 11:34] jeroen commented on #121
So the only way to store an empty string is make it e.g. bold?

[2017-08-22 12:04] jmcnamara commented on #121
Yes. A empty string without formatting isn't stored by Excel. It just ignores them.

[2017-08-22 12:10] jeroen commented on #5
I just ran into exactly the same problem. I found that you can also make it work by compiling with

    CPPFLAGS=-DNOCRYPT

This skips over the crypto types. I don't think these are used by `libxlswriter`? @jmcnamara

[2017-08-22 12:29] jmcnamara commented on #5
I doubt you encountered the same issue but you may have seen the same symptoms. Probably best to open a new bug report with the steps to reproduce it.

Correct. They aren't used and libxlsxwriter compiles it's local copy of minizip with:

    CFLAGS += -O3 -DNOCRYPT -DNOUNCRYPT

[2017-08-22 19:17] jeroen commented on #120
Thanks!

[2017-08-22 19:30] jeroen opened #122 "Support for NaN, Inf, -Inf"
Would it be possible to add a line to the `worksheet_write_number` documentation if excel supports special values `NaN`, `Inf`, and `-Inf`. I just tried:

[code]

Which does not raise an error in lxw, however when I open the file in excel it gives an error that it is "damaged".

[2017-08-22 19:47] #120 closed

[2017-08-22 19:56] jmcnamara commented on #122
Excel doesn't support `NaN`, `Inf` or `-Inf` as a value. It does support them as the result of a formula but not as a number.

I can add something to the docs to say Excel, and thus libxlsxwriter, doesn't support them but, for performance reasons, I won't add a check. The end user can do it in their application if they need it.

[2017-08-22 20:03] jeroen commented on #122
OK thanks. I figured this from trying but wasn't sure. The weird thing is that if you insert `INFINITY` or `NAN`, excel first shows a warning that the document is damanged, but then does properly display `nan` or `inf` inside the cell, making it look as if it can be supported.

[2017-08-22 20:30] jmcnamara commented on #122
Yes, but they are just converted to strings, right? As I said Excel doesn't support them as numbers.

You can handle the values as strings in your application in a similar way if you like.

Btw, what lib/application are you using libxlsxwriter in. I see that you have a very active GitHub timeline. :-)

[2017-08-22 20:34] jeroen commented on #122
I am writing bindings for R: https://github.com/ropensci/writexl

[2017-08-29 09:12] jeroen opened #123 "LICENSE.txt is missing tmpfileplus and tree.h"
I'm having a hard time publishing my bindings because the comments contain several copyright holders which are not mentioned in the license.

[2017-08-29 09:29] jmcnamara commented on #123
The full list of licences are included in the [doc sources](https://github.com/jmcnamara/libxlsxwriter/blob/master/docs/src/license.dox) and rendered in the [on-line docs](https://libxlsxwriter.github.io/license.html).

However, the LICENSE.txt file isn't up to date with the doc file (I thought that I had linked them like the Changes file). So I'll fix that.

For now refer to the  [License file](h

[2017-08-30 00:37] jmcnamara commented on #123
I've created a single License file shared between the src tree and the docs with the minizip contributions called out.

Note, if you are confident that the system you are targeting already have a minizip library you can [compile libxlsxwriter without it](http://libxlsxwriter.github.io/getting_started.html#gsg_minizip) and probably drop that part of the copyright/licence. The same applies for tempf

[2017-08-30 00:37] #123 closed

[2017-08-30 00:39] jmcnamara commented on #123
Also, unrelated to this but so you know, if you are using libxlsxwriter on systems with LANG settings that change the locale to one that uses a comma as a decimal point then you will run into issues. See #64.

[2017-08-30 00:54] jmcnamara commented on #122
Cool.

Could you add `libxlsxwriter` as a "topic" under the title of your GitHub project like in [libxlsxwriter](https://github.com/jmcnamara/libxlsxwriter) so that your project shows up in [this list](https://github.com/search?q=topic%3Alibxlsxwriter&type=Repositories).

I've added a note about handling (or not handling) NaN, Inf or -Inf to the [worksheet_write_number() docs](http://libxlsxwriter

[2017-08-30 00:54] #122 closed

[2017-08-30 01:20] jmcnamara commented on #121
After thinking about this for a bit I've changed the code to just ignore unformatted empty or NULL strings without a warning/error. This is in line with what Excel does.

[2017-08-30 01:20] #121 closed

[2017-08-30 09:08] jeroen commented on #122
OK I have added the topic to the repo.

[2017-09-04 19:14] petricf opened #124 "Guide: How to build under Qt-Creator / Windows (MinGW)"
Qt-Creator (http://qt.io) is a multi-platform/-compiler IDE. Platform here: Windows 7
Under Windows (if you want to avoid MS VisualStudio) you can use the MingGW compiler bundled with it. mingw32_make.exe is also included.
This guide is to build libxlsxwriter w/o installing MSYS (how i did it). Reason: Minimize packages to be installed and use the MinGW-compiler bundled with Qt-Creator.

1. Get CM

[2017-09-04 20:45] petricf opened #125 "Feature request: insert_image - allow to pass in-memory graphic"
Many programs have the images inside the executable as resources. They load them from there. An explicit file is not available.
An other possibility could be that the images are created on the fly by the program logic.

lxw_worksheet only allows to insert an image from a file. So the in-memory picture must be written to an image file, inserted into the sheet and deleted afterwards.

This requested

[2017-09-05 08:30] jmcnamara commented on #124
Thanks. Those are useful instructions. When I get a chance I'll try it out and maybe add it to the docs.

It would probably be useful would be if you uploaded a sample QT project to Github.

[2017-09-05 12:33] jmcnamara commented on #125
This feature is in the Python version of the library: [worksheet.insert_image()](http://xlsxwriter.readthedocs.io/worksheet.html#worksheet-insert-image).

I'll add it to libxlsxwriter if I get a few more +1s for this feature.

[2017-09-05 16:27] petricf opened #126 "Question: Pointer to lxw_worksheet if lxw_workbook is closed"
If - by accident or coding error - lxw_worbook is closed, but lxw_woksheet/-format/... is used afterwards - what does happen ?

Does it throw an assert, ignore requests, invalid memory access exception, ... ?

Is there a method to verify that the workbook is closed when actually using the other pointers ?
In other words - can i check (for example) an lxw_worksheet pointer whether the accompanied w

[2017-09-06 08:58] jmcnamara commented on #126
Currently there isn't a warning but there probably should be. Also, I could add a function to check if a workbook is closed.

However, I'm not convinced by the use case for accessing the workbook from a worksheet. That seems to me to be something that could be handled in the application logic.

If that part of the request gets some +1 then I'll add it.

[2017-09-06 16:39] petricf commented on #126
All functions writing to a worksheet do not need access to the lxw_workbook pointer. They have a lxw_worksheet pointer.
If you simply pass the the worksheet pointer to separate (for example) thread or (im my case) a separate class instance (at init) you run in a problem (no - not if you code carefully - but shit happens ...).
Inside there you don't know whether the workbook have been already close

[2017-09-06 16:53] jmcnamara commented on #126
For me this is the important part. In general I am against adding syntactic sugar for things that can be handled in the end-users application apart from cases that are really painful to do otherwise or cases that are frequently requested.

[2017-09-06 20:50] petricf commented on #126
Sure. But nobody is perfect - even i am not.
Having a safeguard - in my opinion - is never a mistake.

[2017-09-08 22:16] Alexhuszagh commented on #115
Hi @jmcnamara, sorry for the long delay but I was unable to find time until now. I just defended my thesis earlier this week, so I will be able to look over this tonight.

[2017-09-11 22:15] jmcnamara commented on #115
@Alexhuszagh There is no rush.

[2017-09-20 05:01] dlpigpen commented on #97
@lrossi  Got the same issue. Can you fix it?

[2017-09-20 08:51] jmcnamara commented on #97
@dlpigpen Does the pull request in #94 fix your issue?

[2017-09-20 22:07] jmcnamara commented on #31
@evanmiller I've started work on data validation in libxlsxwriter. It isn't fully useable yet but you could try it out in a few days, when it is more functional. If you are interested.

If so let me know what type of data validation you want to do.

[2017-09-20 22:28] evanmiller commented on #31
@jmcnamara Thanks. I'm interested in pop-up buttons -- in xlsLib I do something like

[code]

[2017-09-20 22:46] jmcnamara commented on #31
This type of validation?

![screen shot 2017-09-20 at 23 42 27](https://user-images.githubusercontent.com/94267/30671270-e4be318c-9e5d-11e7-9b4c-f2bc6153d29f.png)

[2017-09-20 22:52] evanmiller commented on #31
@jmcnamara Yes.

[2017-09-20 22:56] jmcnamara commented on #31
@evanmiller That is currently doable with the code on the `data_validation` branch. The above was created using this program:

[code]

Most of the guard rails are still missing but if you can figure it out based on the above program, you can try it out.

[2017-09-21 06:09] evanmiller commented on #31
@jmcnamara Thanks. I'll trust you that it works as advertised, and I'll keep it in mind when deciding to port the rest of my code.

[2017-09-22 20:45] petricf commented on #124
Attached a sample Qt GUI application designed like the minimal test in your package.

Simply open the *.pro file inside the Qt-Creator IDE (downloaded/installed from http://qt.io).

The *.pro file contains the reference to the includes and libs created in the steps above. I copied them to C:\Qt\Tools\xlsxwriter\include and C:\Qt\Tools\xlsxwriter\libs.

Hope it helps. Sorry i am currently not good

[2017-09-22 20:49] petricf commented on #124
Oh, i forgot - sure this is an application simply using the C-interface of libxlsxwriter directly.

Currently i am designing Qt classes inspired by  https://github.com/Alexhuszagh/libxlsxwriterpp.

[2017-09-23 01:09] jmcnamara commented on #124
Thanks for the contribution. I'm sure someone will find it useful.

[2017-09-25 00:02] jmcnamara commented on #31
Added in version 0.75. See [Working with Data Validation](https://libxlsxwriter.github.io/working_with_data_validation.html) and [data_validate.c](https://libxlsxwriter.github.io/data_validate_8c-example.html).

[2017-09-25 00:02] #31 closed

[2017-10-13 12:10] thdankert commented on #32
+1

[2017-10-13 15:15] spulchtopek commented on #32
+1

[2017-10-18 09:06] Alexhuszagh commented on #115
Hi @jmcnamara, I should have the patch for this. Between life events and my Windows dev computer crashing, I really haven't had time for this. I'm testing it on a naive virtual machine and then publishing it.

[2017-10-18 11:35] jmcnamara commented on #115
@Alexhuszagh no worries. I'm not sure that this is actually an issue.

I was able to reproduce it in MSYS2 32 and 64 bit a few months ago but not in Linux so my feeling was that it was probably a cmake or other issue.

Anyway I tried to reproduce it today with the latest [MSYS2 ](http://www.msys2.org/) (20161025 builds) and I can't:

[code]
Output:

[code]
So everything looks okay.

@ohmyarch can

[2017-10-18 16:45] Alexhuszagh commented on #115
@jmcnamara I cannot reproduce the above issue if the runtime flags or library architecture is correct. However, if I link to an incorrect ZLIB library, I get the exact compiler warnings @ohmyarch was warning about. Be very careful about the linked ZLIB variant, if you are worried about potential linker issues, you may always build a static version with the same runtime flags (on MSVC) and architec

[2017-10-19 13:17] ohmyarch commented on #115
@Alexhuszagh Now the shared library can be built , but libxlsxwriter.dll will not be installed after executing `make install`.

[2017-10-19 18:40] Alexhuszagh commented on #115
@ohmyarch Can you please post the output of `make VERBOSE=1 install`? I'll be debugging this today.

[2017-10-19 21:17] Alexhuszagh commented on #115
At the very least, I will be submitting a PR today to test the MSVC and MinGW target installs using AppVeyor and Tea-CI, so this issue does not occur again.

[2017-10-20 01:31] ohmyarch commented on #115
@Alexhuszagh https://paste.kde.org/pcpx9ekat/j8swm1/raw

[2017-10-22 18:28] jmcnamara commented on #119
@Alexhuszagh, this is one you could have a look at as well. However, it isn't high priority so if you don't want to add it to the CMake build that is okay.

[2017-10-22 18:30] jmcnamara commented on #97
Closed by PR #127.

[2017-10-22 18:30] #97 closed

[2017-10-22 19:11] Alexhuszagh commented on #119
@jmcnamara Sorry I just saw this. I should be able to get around to it next week.

[2017-10-22 19:12] Alexhuszagh commented on #115
@ohmyarch Is everything working like expected now?

[2017-10-23 15:18] ohmyarch commented on #115
@Alexhuszagh For MinGW-w64, *.dll should be installed to ${CMAKE_INSTALL_PREFIX}/bin.

[2017-10-23 15:25] jmcnamara commented on #115
@ohmyarch why in `bin`? Shouldn't it go into `lib`?

[2017-10-23 21:55] Alexhuszagh commented on #115
@jmcnamara He, @ohmyarch, is actually right here. I never get this right, because "DLL" is supposed to go in the bin folder, has a "DllMain" function and has the same file format, despite it being a dynamically linked library and being identified as a library in the header. It's a counter-intuitive reality of Windows, and it's how most libraries do things (including ZLIB, our dependency). It's a 3

[2017-10-23 23:20] Alexhuszagh opened #131 "Simplify CMakeLists"
CMake has the power to track private and public macro definitions, include directories, linked libraries and linker flags. This allows anyone using libxlsxwriter in a dependent project to simply call `target_link_libraries(${my_target} xlsxwriter)` and it will automatically track all the required definitions, include directories, libraries, and linker flags for compilation.

I have patched my own

[2017-10-23 23:41] Alexhuszagh commented on #119
@jmcnamara This should be patched in my [downstream fork](https://github.com/Alexhuszagh/libxlsxwriter/tree/minizip). It relies on the changes made in #131, however, if need be, I can make the changes atop the current CMakeLists. If these changes are satisfactory, I will submit a PR.

[2017-10-24 09:52] jmcnamara commented on #131
Is this like [pkg-config](https://en.wikipedia.org/wiki/Pkg-config), if you are familiar with it? I have been meaning to add support for that.

Anyway, the patch looks fine. Submit it as a PR and I'll merge it.

[2017-10-24 09:53] #131 closed

[2017-10-24 09:55] jmcnamara commented on #115
@ohmyarch This fix is merged upstream into master. Can you test it.

[2017-10-24 10:02] jmcnamara opened #132 "Feature request: Add support for pkg-config"
Add support for creating and installing a pkg-config file to the `make install` target.

[2017-10-24 15:43] ohmyarch commented on #115
@jmcnamara @Alexhuszagh Everything is now working as expected, thanks. 🎉👍

[2017-10-24 15:44] #115 closed

[2017-10-24 15:46] jmcnamara commented on #115
Great. Thanks @ohmyarch and @Alexhuszagh.

[2017-10-24 17:43] jmcnamara commented on #119
@ohmyarch can you try the fix on master for this. See also #133

[2017-10-31 09:19] ohmyarch commented on #119
<pre>
ldd /usr/lib/libxlsxwriter.so

linux-vdso.so.1 (0x00007ffda713f000)
<b>libminizip.so.1 => /usr/lib/libminizip.so.1 (0x00007f14b3212000)</b>
libc.so.6 => /usr/lib/libc.so.6 (0x00007f14b2e5b000)
libz.so.1 => /usr/lib/libz.so.1 (0x00007f14b2c44000)
/usr/lib64/ld-linux-x86-64.so.2 (0x00007f14b365c000)
</pre>

It works. 🎉👍

[2017-10-31 09:20] #119 closed

[2017-11-02 20:07] Nipou opened #135 "File name with one letter"
In Microsoft Visual Studio Professional 2015
Version 14.0.25431.01 Update 3
Visual C++ 2015   00325-60001-65048-AA435

      string filename = "test.xlsx";
      lxw_workbook  *workbook = workbook_new(filename.c_str());
      addToWorkbook(workbook);
      workbook_close(workbook);

Produce the valid file 't'.
This code do the same :

      char name[10] = { 't','e','s','t','.','x','l','s','x','\0

[2017-11-02 22:57] jmcnamara commented on #135
There is #define code to avoid that issue with MSVC: https://github.com/jmcnamara/libxlsxwriter/blob/18c8cb6dd276bdf6da1527ad65b541539dc4e727/src/packager.c#L33

Your compiler should pick that up.

[2017-11-03 13:54] jmcnamara commented on #135
Can you check out and compile this project using the instructions and let me know if it works for you: https://github.com/jmcnamara/MSVCLibXlsxWriter

[2017-11-03 16:31] Nipou commented on #135
Sorry but I workaround. No time to spend.

       wxCopyFile("x", filename);
       wxRemoveFile("x");

Otherwise the library work very fine.

Thanks you

From: John McNamara [mailto:notifications@github.com]
Sent: 3 novembre 2017 09:55
To: jmcnamara/libxlsxwriter <libxlsxwriter@noreply.github.com>
Cc: Poupart, Nicolas (Blainville) <Nicolas.Poupart@sgs.com>; Author <author@noreply.github.com>
Subj

[2017-11-03 19:28] #135 closed

[2017-11-10 17:38] Nipou opened #136 "Feature request: add defined error bars"
The error in science is often different for each measure, so it would be really convenient to be able to define the range of data for the error bars.

So a new type : LXW_CHART_ERROR_BAR_TYPE_DEFINED
And an API void chart_series_set_error_bars_range(lxw_series_error_bars *error_bars, const char *sheetname, lxw_row_t row, lxw_col_t col);

The corresponding XML is simply:

<c:errBars>
   <c:errBarTy

[2017-11-17 19:41] jmcnamara commented on #136
For clarity, where is set in the Excel interface. Is this a custom value?

For reference, here is the [Python interface which supports custom value](https://xlsxwriter.readthedocs.io/working_with_charts.html#chart-series-option-error-bars)s:  Is that what you are looking for.

[2017-11-17 20:00] Nipou commented on #136
Yes, see the attachement.

From: John McNamara [mailto:notifications@github.com]
Sent: 17 novembre 2017 14:42
To: jmcnamara/libxlsxwriter <libxlsxwriter@noreply.github.com>
Cc: Poupart, Nicolas (Blainville) <Nicolas.Poupart@sgs.com>; Author <author@noreply.github.com>
Subject: Re: [jmcnamara/libxlsxwriter] Feature request: add defined error bars (#136)

The error in science is often different for

[2017-11-17 22:52] jmcnamara commented on #136
@Nipou Attachments are stripped from emails to GitHub. You will have to add it via the web interface. Or else just confirm that you are looking for support of custom values, like the Python API.

[2017-11-20 13:30] Nipou commented on #136
Yes, it's custum values like the Python API.

[2017-11-20 13:31] Nipou commented on #136
Yes, it's custum values like the Python API.

[2017-11-21 07:49] yanniupai opened #137 "Issue with worksheet_write_datetime() not producing any output"
Hi All:

I write a demo to test the "datetime write" with Qt 5.9.2 in Windows, but it is error. i am sure the the "lxw_datetime tmp_dt" is OK, source code like below:

[code]

The result is like below: [myexcel.xlsx](https://github.com/jmcnamara/libxlsxwriter/files/1490434/myexcel.xlsx)

But I write the datetime with string is OK, like below:

[code]

[2017-11-21 10:09] jmcnamara commented on #137
I can't compile a Qt program but I'd guess that the issue is that `tmp_dt` isn't initialized:

[code]
Try this instead:

[code]
Or whatever keeps your compiler happy.

If that isn't the issue then print out the fields of `tmp_dt` before calling `worksheet_write_datetime()` and attach the results here.

[2017-11-21 10:16] jmcnamara commented on #137
Actually, this probably isn't an issue. I thought that the struct had a hidden field but it doesn't. So your field by field assignment is probably okay. I'll look a bit deeper...

[2017-11-21 10:26] jmcnamara commented on #137
Looking at your example again I see that you didn't apply a number format to worksheet_write_datetime(). A number format for a date is required,  see the docs for [worksheet_write_datetime()](https://libxlsxwriter.github.io/worksheet_8h.html#afb0b3211160927a3412be28c9364b1b5):

See also the [Working with Dates and Times ](https://libxlsxwriter.github.io/working_with_dates.html) section of the docs

[2017-11-21 13:24] yanniupai commented on #137
I add the code as you guide like below:
    `
    lxw_format    *format    = workbook_add_format(workbook);
    format_set_num_format(format, "yyyy-MM-dd hh:mm:ss");
    `

The result is OK. Thanks for you.

Can we add the millisecond to the struct lxw_datetime? Our industrial control project needs it.
And can we add the function as "worksheet_write_stringArray" to improve the writing efficiency?

[2017-11-21 14:27] jmcnamara commented on #137
Great. I'll close the issue.

The seconds member in `struct lxw_datetime` is a double so you can add milliseconds to that as a fraction of a second.

[code]

Output:

![aa_image](https://user-images.githubusercontent.com/94267/33077482-dc0fb5b6-cec7-11e7-867a-2d99fc0c90a2.png)

Do you mean to write an array of strings like this:

[code]

I think functions like that are best handled by the user in

[2017-11-21 14:27] #137 closed

[2017-11-23 09:12] viest opened #138 "Question: Can in existing documents writing new data?"
I didn't find relevant specification in the document, or does not support? @jmcnamara

[2017-11-23 11:21] jmcnamara commented on #138
Libxlsxwriter can only create new files. It cannot write to existing files. See the [Introduction](https://libxlsxwriter.github.io/introduction.html) section of the docs.

[2017-11-23 11:21] #138 closed

[2017-11-30 10:59] cesss opened #139 "Is libxlsxwriter endian-safe?"
Traditional Excel files depend on endianness, but maybe XLSX files don't (I don't know).

Can you confirm if libxlsxwriter should generate fine XLSX files both in big endian and little endian machines? (If affirmative, let me suggest adding this comment as a feature in the feature list)

[2017-11-30 14:18] jmcnamara commented on #139
Correct. Xlsx files are XML files in a zip container so they aren't subject to endianess.

I assume it should work on big endian systems but I can't confirm since I don't currently have access to a big-endian system (I used to have a Sun workstation). If you do you could [run the test suite](https://libxlsxwriter.github.io/running_the_tests.html) and confirm.

[2017-11-30 14:27] cesss commented on #139
Yes, I do have access to an iMac G5. However, I cannot promise a date for the tests, as my access to that machine is not frequent.

[2017-11-30 14:30] jmcnamara commented on #139
Actually, I forgot that I have a G5 MacMini in my attic. If I get achance I'll dig it out for testing.

[2017-11-30 17:53] Nipou commented on #136
![error bars](https://user-images.githubusercontent.com/30089938/33446219-611e9f7c-d5cd-11e7-9f15-a926a066c272.png)

[2017-12-27 19:11] RaFaeL-NN opened #140 "Footer and header margins does not sets to 0"
Unable to set margin with worksheet_set_header_opt (or worksheet_set_footer_opt) to 0, it sets to default. May be a good way is to changes this methods for using -1 as default (like in worksheet_set_margins) and 0 as working value? Thanks

[2018-01-12 16:50] tdmartin102 opened #141 "Static link error"
I am Using Xcode 9.2 and CocoaPods. This library would not compile for me   The issue is probably a compiler setting but a easy code fix is casting.  in worksheet.c:26010, 2611, 2621,2622 a macro is used such as:

`lxw_col_t span_col_min = RB_MIN(lxw_table_cells, row->cells)->col_num;`

casting eliminates the error

`lxw_col_t span_col_min = ((lxw_cell*)RB_MIN(lxw_table_cells, row->cells))->col_nu

[2018-01-15 10:30] RaFaeL-NN opened #142 "Pointers to Axis and Error_bars"
To use the libxlsxwriter in languages other than C as external dll (where C headers can not be used), it would be better to add methods that return pointers to axis and error_bars, something like

[code]
(type means X or Y)

So, it will simply use these pointers in `chart_series_set_error_bars*`and `chart_axis_set* methods`.

[2018-01-20 23:50] RaFaeL-NN opened #144 "Possible problem with black colors in charts"
Because color=0, has_color does not sets to true and solidFill section does not presents in xml. For some objects (for example, Chart Area Line) black color is not default color for display in this way (gray is). So, it's impossible to set (for example) Chart Area Line to black by API

[2018-01-20 23:56] jmcnamara commented on #144
You can use the hash define LXW_COLOR_BLACK for black. See the Working with Colors section of the docs and the note about black:

https://libxlsxwriter.github.io/working_with_colors.html

[2018-01-20 23:59] #144 closed

[2018-01-26 17:34] ncfernan opened #145 "Lib trying to free image memory without image defined"
When using the function **worksheet_insert_chart_opt** the options parameters is copied to an internal structure that is shared with image functions, so when the program closes the workbook, the **image** points to dirty areas because no image was set.

If the **options** parameter is set to NULL, no problem arises.

[code]

![image](https://user-images.githubusercontent.com/10008844/35452435-9dff

[2018-01-26 17:55] ncfernan commented on #145
I found the problem in **worksheet.c**:

![image](https://user-images.githubusercontent.com/10008844/35453393-39c1aa76-02b1-11e8-95a3-8a6e772624aa.png)

[2018-01-26 18:57] jmcnamara commented on #145
Thanks for the report.

Could you add a small, compilable program that demonstrates the issue.

John

[2018-01-29 08:25] RaFaeL-NN commented on #145
I sent out the same report a month ago. The problem is especially relevant when using the library with other programming languages in binary form. The best way is to split the options into two structures - one for external user use with 4 fields as a parameter, and the second one complete for internal

[2018-01-29 09:10] jmcnamara commented on #145
@ncfernan You will need to initialize the `lxw_image_options` struct since it includes some non public members.

[code]
However, I'll split the external and internal structs in a future release to avoid this type of issue.

[2018-01-31 10:32] RaFaeL-NN commented on #30
+1

[2018-01-31 21:33] RaFaeL-NN opened #146 "Regular font style in charts"
Some chart elements, such as title name is bold by default on opening file in Excel. How to set it to regular style? Bold=0 don't set this

[2018-01-31 22:03] jmcnamara commented on #146
Can you add a small compilable program the demonstrates the issue.

[2018-02-01 01:10] RaFaeL-NN commented on #146
I don't know why, but it works then I set Bold to 2. OK.

[2018-02-01 07:27] jmcnamara commented on #146
It would still be useful to see a compilable example that demonstrates the issue.

[2018-02-01 09:03] RaFaeL-NN commented on #146
Sorry, I cannot, because I use library in binary form from other language

[2018-02-01 11:19] jmcnamara commented on #146
Ok. But look at this from my side. I can only fix bugs that I can reproduce. If I can't reproduce an issue with a C program then it probably isn't an issue in theC library.

If there is a genuine issue in libxlsxwriter then you should be able to demonstrate it with a C program.

And I'm more than happy to fix those.

So, closing this.

[2018-02-01 11:19] #146 closed

[2018-02-02 13:33] Genricke commented on #30
+1
Please add collapse row. Thanks !

[2018-02-02 13:44] Genricke commented on #140
There is such a problem and it is not solved. :(

[2018-02-03 16:52] jmcnamara commented on #140
There is now a fix for this on the master branch.

[2018-02-03 17:09] jmcnamara commented on #141
Fix added on master branch.

[2018-02-03 17:54] RaFaeL-NN commented on #140
It works, big thanks!

[2018-02-03 17:54] #140 closed

[2018-02-04 10:57] jmcnamara commented on #145
I've pushed a fix for this issue to the master branch. It will be in the next release.

[2018-02-04 20:49] ncfernan commented on #145
Thank you, John. That was the best response for an issue that I've seen in a long time. Keep up the excellent work!

[2018-02-04 20:49] #145 closed

[2018-02-04 21:15] jmcnamara commented on #30
I've added initial support for this feature to the mast branch.

I'll be adding additional features and docs in the next few days. In the meantime you can try out this example: https://github.com/jmcnamara/libxlsxwriter/blob/master/examples/outline.c

[2018-02-04 21:17] jmcnamara commented on #145
Thanks. :-)

[2018-02-05 17:10] RaFaeL-NN commented on #30
Big thanks!
Outline settings is also needed, because default Excel display option is strange. Thanks

[2018-02-05 17:52] jmcnamara commented on #30
No problem. All the features of the Python version, link above, will be added to the C version.

[2018-02-06 16:03] RaFaeL-NN commented on #30
Thank you, works perfect

[2018-02-10 20:08] RaFaeL-NN opened #147 "Feature request: Plotarea options for Pie chart"
No code for writing c:spPr in _chart_write_pie_plot_area. Why? I can set it in Excel runtime...
![piecolors](https://user-images.githubusercontent.com/34895749/36066170-964af0ca-0eb6-11e8-9953-aa0269720735.png)

Can you add this lines of code for pie and doughnut charts too?

[2018-02-10 20:39] jmcnamara commented on #147
I’ll try. What is that feature called in English?

[2018-02-10 21:13] RaFaeL-NN commented on #147
Format Plot Area
It's same with another type of charts, no differenсe. May be, just in size of area...

[2018-02-10 21:34] RaFaeL-NN commented on #147
`/*
 * Write the <c:plotArea> element. Special handling for pie/doughnut.
 */
STATIC void
_chart_write_pie_plot_area(lxw_chart *self)
{
    lxw_xml_start_tag(self->file, "c:plotArea", NULL);

    /* Write the c:layout element. */
    _chart_write_layout(self);

    /* Write subclass chart type elements for primary and secondary axes. */
    self->write_chart_type(self);

    /* Write the c:spPr el

[2018-02-11 00:16] jmcnamara commented on #147
Yes. That feature should be supported by default. I'll add it in a later release.

[2018-02-11 00:23] #124 closed

[2018-02-11 00:24] #126 closed

[2018-02-11 13:42] jmcnamara commented on #142
I've push a fix for this to the master branch. See commit d863c8e.

[2018-02-11 15:01] RaFaeL-NN commented on #142
Works good, thanks

[2018-02-11 15:15] RaFaeL-NN commented on #147
I think it's a bug. Based on docs for chart_plotarea_set_* functions, no exceptions for some type of charts

[2018-02-11 15:55] jmcnamara commented on #147
It is a big of sorts.

I deliberately left out support for it because I mistakenly thought that it wasn’t supported for those types of charts.

I’ll add it back in an upcoming release once I add some test etc.

[2018-02-11 22:57] jmcnamara commented on #139
I finally got around to booting up my old G5 Mac Mini to test this.

It was OS X 10.5.8 system and I hadn't used it since January 2011 according to the file times. It was still fairly usable though.

Anyway I compiled libxlsxwriter fine and the output file worked with Excel 2008 for Mac. After a bit of work I got a version of pytest to work with the system Python 2.5.1 and the test suite all passe

[2018-02-11 23:53] jmcnamara commented on #142
Added in version 0.7.6. Closing.

[2018-02-11 23:53] #142 closed

[2018-02-11 23:53] jmcnamara commented on #30
Added in version 0.7.6. Closing.

[2018-02-11 23:53] #30 closed

[2018-02-11 23:53] jmcnamara commented on #141
Added in version 0.7.6. Closing.

[2018-02-11 23:54] #141 closed

[2018-02-11 23:54] jmcnamara commented on #139
Added in version 0.7.6. Closing.

[2018-02-11 23:54] #139 closed

[2018-02-14 12:50] GBangala opened #148 "Error generating an output .xlsx file with MSVC"
Hello,
I'm new here, so sorry if I'm doing wrong, and sorry in advance if it's my fault for doing something wrong.
Thanks for the lib, it's truly a great tool ! 👍

I had an olderversion of it working since September 2017, but I had to rebuild it to include the new features (such as data validation) and since I recompiled the last version (at the root (master branch) of the git repo), i have troubl

[2018-02-14 13:19] jmcnamara commented on #148
There is an issue with MSVC where filenames get truncated to one character. However, the following function in the code should take care of that: https://github.com/jmcnamara/libxlsxwriter/blob/master/src/packager.c#L48

This is optionally #defined in so check to make sure it is being included.

[2018-02-14 14:03] GBangala commented on #148
Hi,

Thanks for the quick answer !

I tried to look at the packager.c file and it's already defined and supposedly working.
To try it, I `#define _WIN32` just before the `#ifndef` block but the end program behaved the same at the end.

[2018-02-14 14:12] jmcnamara commented on #148
In that case you will need to supply a sample app that demonstrates the issue along with **full** reproducible instructions on how to reproduce it. Otherwise l won’t be able to debug fix it.

[2018-02-14 14:36] GBangala commented on #148
Thanks for the answer.
Excuse me, as I'm still a newbie, I don't get what you want me to send :
- the full code with the full build procedure pasted here (or somewhere else like pastebin) ?
- the .cpp i wrote and the lib attached somewhere ?

[2018-02-14 14:40] jmcnamara commented on #148
I’m going more for a series of steps to follow on how to reproduce it. For example how the code was generated with Cmake. How it is imported into MSVC. How it is linked to an app.

Also, as a first step can you verify in the debugger, or via a printed, that `_open_zipfile_win32()` is actually being called.

[2018-02-14 15:10] GBangala commented on #148
Thanks for taking time explaining me : Ok now I get it ! I'm doing it ASAP, then.

First the debugging step : by putting `printf()`s all around the code, I can say : the function `_open_zipfile_win32()` is actually being called.

[2018-02-14 16:08] GBangala commented on #148
**So here is my step by step process**

My plateform is a Windows 10, with MSVisualStudio 2017

**BUILD ZLIB V1.2.8 :**
- I downloaded this version on website www.zlib.net
**In PowerShell**
- `mkdir .\build`
- `cd .\build`
- `cmake .. -G "Visual Studio 15 2017 Win64" -DCMAKE_INSTALL_PREFIX:PATH="D:/InstallLocation/Zlib_1_2_8"`
**In MSVC15** through zlib.sln :
- Select Win64 Debug
=> Build 'zlib.vc

[2018-02-16 13:23] jmcnamara commented on #148
Thanks for the detailed instructions. I was able to replicate the issue.

I need to debug it but as a workaround, change the following for that `zipOpen()` is called instead of `_open_zipfile_win32()`. You can do that by changing the `#ifdef _WIN32` to something non-existentialist like `#ifdef _WIN32_zzzz`:

https://github.com/jmcnamara/libxlsxwriter/blob/master/src/packager.c#L102

That will get

[2018-02-16 13:25] jmcnamara commented on #148
@utelle could you have look at this to see why the `_open_zipfile_win32()` isn't working as expected in libxlsxwriter.

[2018-02-16 14:55] jmcnamara commented on #148
It looks like this may be the same issue, or at least similar, to #104

[2018-02-16 15:40] jmcnamara commented on #148
Following the clue in #104 I was able to get to this to work, unedited, by setting the following property for each of the zlib, libxlsxwriter and exe projects:

    Project
      -> Properties
        -> General
          -> Project Defaults
            -> Character Set
              -> "Use Unicode Character Set"

I'll look into how this can be enabled via cmake.

[2018-02-16 16:16] utelle commented on #148
As you found out for yourself it is necessary to set the Unicode property for all projects. Otherwise you experience the same issue as described in #104 - the filename is passed down as a wide string, but is then interpreted as an ANSI string, usually truncating the filename to just one character.

[2018-02-19 12:46] GBangala commented on #148
Wow thanks for the replies ! You guys rock !
I will test it later that day as I have a few works related appointments.
I'll let you know once it's done if everything works.

[2018-02-19 18:05] GBangala commented on #148
It works fine now ! It was all about specifying the "Unicode character set".
Thank' you very much @jmcnamara  and @utelle  for your help !

[2018-02-19 18:05] #148 closed

[2018-03-08 12:24] HenriqueMisael opened #149 "Writing formulas on xlsx files"
In excel,
**When you write** _it shows up in the cell_
**A2+A3** _A2+A3_
**=A2+A3** _the result of the sum_
**'=A2+A3** _=A2+A3_

Knowing that, I've tried to write "=A2+A3" using the write_string function, but it wrote just the formula, not showing up the result. Once I select the cell and press **ENTER**, however, the cell turned to the result of the formula I entered.

**Looking deep in the xlsx

[2018-03-08 12:48] jmcnamara commented on #149
What about the `worksheet_write_formula()` function?: https://libxlsxwriter.github.io/worksheet_8h.html#ae57117f04c82bef29805ec3eabc219bb

[2018-03-08 12:50] HenriqueMisael commented on #149
I searched in the examples, sorry for the bad reporting

[2018-03-08 12:51] jmcnamara commented on #149
No problem. Closing.

[2018-03-08 12:51] #149 closed

[2018-03-09 09:36] jmcnamara opened #150 "Add "Working with Formulas" section to the docs"
Add a section similar to the Python documentation:

https://xlsxwriter.readthedocs.io/working_with_formulas.html

Also, update/match the formula or image in the first example.

[2018-03-12 13:10] RalfKubis commented on #148
I just ran into the same issue with VS2015, non-unicode CMake build of libxslsxwriter.

The first problem I see is that the Doxygen documentation of libxslsxwriter apparently doesn't state the expected encoding of the string arguments of its functions parameters. Does this mean that it ALWAYS has to be utf-8, especially for workbook_new(..)?

Note:
If _open_zipfile_win32() would consider the UNICO

[2018-03-12 14:13] RalfKubis commented on #148
for example like this:

`
...
elseif(MSVC)
        set(CMAKE_C_FLAGS_DEBUG          "${CMAKE_C_FLAGS_DEBUG}          /MTd /O0  /Fd${CMAKE_BINARY_DIR}/${PROJECT_NAME}.pdb /DUNICODE")
        set(CMAKE_C_FLAGS_RELEASE        "${CMAKE_C_FLAGS_RELEASE}        /MT  /Ox /Zi /Fd${CMAKE_BINARY_DIR}/${PROJECT_NAME}.pdb /DUNICODE")
        set(CMAKE_C_FLAGS_MINSIZEREL     "${CMAKE_C_FLAGS_MINSIZEREL}     /M

[2018-03-12 16:04] jmcnamara commented on #148
@RalfKubis Agreed. You should open a separate issue for this and also if you have a fix then submit a Pull Request.

[2018-03-12 19:18] utelle commented on #64
@m1h43l: for your use case the solution to set the decimal separator via environment variable may work sufficiently well. However, in the general case this solution has the side effect of changing the decimal separator globally for the system/user. This may not be acceptable for some user interface applications.

IMHO the preferred solution should be to make the library locale independent. In fact

[2018-03-13 07:52] m1h43l commented on #64
@utelle I totally agree. The application should work without having the user to modify the environment. But for the time being it is better to have something than to have nothing and thus the workaround with the env var.

[2018-03-13 15:43] franciscopajares opened #151 "Problem with number formats"
Hello.

I am using libslxswriter version 0.7.6 in Windows 7, compiled with Microsoft Visual Studio 2005, and I have found a problem with numeric formats.
The problem is:

When you add two numeric formats with the function **format_set_num_format** and these formats are similar, i.e **"#,##0.0"** and **"#,##0.00000"**, sometimes the cells are not formatted with the correct format.
The bug is locate

[2018-03-13 16:08] jmcnamara commented on #151
Hi,

Thanks for the detailed report and the debugging.

I'll put a fix in for it soon.

John

[2018-03-13 16:16] franciscopajares commented on #151
Hi,

Thanks to you for saving me so much time developing this library.

Paco.

[2018-03-13 16:37] jmcnamara commented on #151
Here is a quick fix in the meantime.

[code]

[2018-03-13 17:04] franciscopajares commented on #151
Hi John.

This fix is valid when comparing strings but, is it safe when comparing structs, pointers or another data types?

Thanks again.

[2018-03-13 17:51] HenriqueMisael opened #152 "Naming intervals"
Does this library have a function to name a interval/cell?
For example, in Excel, I can click on the box (left to the formula box) with the cell name (for example A4) and give it a name, and reference this cell with a name. Something like: I name B1 as "income", B2 as "taxes" and B3 as "profit". In the B1 and B2 I write 500 and 200. In the B3 (profit) I write "=income-taxes", and it returns the sa

[2018-03-13 17:52] jmcnamara commented on #151
No. Not fully. I'll need to rethink it. Maybe a solution like yours is better in this case.

[2018-03-14 00:36] jmcnamara commented on #152
Hi,

That is possible. It is called "defined names". See the following:

http://libxlsxwriter.github.io/workbook_8h.html#a442b4056e8d4debf56c07888f2a776f6

http://libxlsxwriter.github.io/defined_name_8c-example.html

John

[2018-03-14 00:38] #152 closed

[2018-03-14 12:59] RalfKubis opened #153 "CMake: doesn't enforce a unicode build for MSVC"
Apparently the library requires to be build with the symbol `_UNICODE` being defined.
Otherwise one gets defects like described in #104 and #148 or similar.

A potential fix would be to define this symbol in CMakeLists.txt.

[2018-03-14 13:17] jmcnamara commented on #153
I made an attempt to try implement this via commandline switches to cmake. Unsuccessfully.

@Alexhuszagh Could you have a look at implementing this. It is catching a lot of Windows users using cmake.

[2018-03-14 14:22] RalfKubis commented on #153
I'm on it. Just preparing a pull-request.

[2018-03-14 17:30] RalfKubis opened #155 "Feature request: user defined message handler"
Rather than always routing messages to stdout or stderr [fprintf(stderr,...)], it would be great to provide a mechanism that enables the client to register a notification callback function similar to

http://doc.qt.io/qt-5/qtglobal.html#qInstallMessageHandler

This would enable the application to integrate the library into the applications logging facility.
The default message handler could still

[2018-03-14 20:48] jmcnamara commented on #155
That's a good suggestion. I'll look into it.

[2018-03-16 00:08] jmcnamara commented on #151
I've pushed a test and fix for this to master.

[2018-03-16 09:17] franciscopajares commented on #151
Hello.

Seems to work fine.

A little question.
Do the **lxw_strcpy function** fills the memory at the right of the **'\0'** delimiter with the same value every time that this function is executed?

Thanks,

[2018-03-16 10:05] jmcnamara commented on #151
Good eyes.

The value being copied (`format->num_format`) will almost always be NULL padded (from initialization) so effectively the stored `num_format` value will be NULL padded too.

However, it is possible that it could contain some garbage if the user reset the `num_format` in the format to a shorter string. This wouldn't affect the formatting in the Excel file however, it would just create a

[2018-03-16 13:48] RaFaeL-NN opened #156 "Multi-line text"
I have a question from users of my wrapper
In Excel is possible to enter multi-line text
![m1](https://user-images.githubusercontent.com/34895749/37523551-5995f548-2938-11e8-9d4a-923b862bacef.PNG)

In sharedStrings.xml linebreak writes as 0D 0A

![m2](https://user-images.githubusercontent.com/34895749/37523552-59b96e42-2938-11e8-920c-d1126effcfcb.PNG)

but if I try to do something like this by lib

[2018-03-16 15:19] jmcnamara commented on #156
It is possible to do that with libxlsxwriter by using a format with `format_set_text_wrap()` set: http://libxlsxwriter.github.io/format_8h.html#a56d55dd9257d8f0645c62b296d2c196d

If you want to control where the text wraps you can add "\n" to the string as shown in the example in that doc link.

Yes and no. Excel just uses "\n" 0x0A in the string to indicate a wrap (along with a format in the cell

[2018-03-16 15:44] jmcnamara commented on #151
I've change the code around a bit to ensure that the stored buffer is alway NULL padded.

Take a look when you get a chance.

[2018-03-16 18:35] RaFaeL-NN commented on #156
What a problem to pass 0D to xml? Data already may be stored in some DB as a multiline text with "\r\n" or send by some protocol...

[2018-03-16 19:00] jmcnamara commented on #156
In that case libxlsxwriter does the same thing that Excel would do and converts "\r" to the XML escape `_x000D_`.

You can test that yourself by inserting "\r" or "\r\n" into a cell in Excel and looking at the output XML.

[2018-03-16 19:51] jmcnamara commented on #156
Please attach the file you created.

Here is a file from the test suite that was created in Excel and which contains all the characters from decimal 1 to 127: https://github.com/jmcnamara/libxlsxwriter/blob/master/test/functional/xlsx_files/shared_strings01.xlsx

Here is the XML file:

[code]

And here is the hex:

[code]

[2018-03-16 20:14] RaFaeL-NN commented on #156
[test.xlsx](https://github.com/jmcnamara/libxlsxwriter/files/1820673/test.xlsx)
I think, your test with one character is bad and 0D as one character is bad in XML too. Try 0D 0A **together**

[2018-03-16 20:33] RaFaeL-NN commented on #156
And here is the hex:

[code]

[2018-03-16 20:48] jmcnamara commented on #156
The file you attached doesn't contain "\r" in the cell. If I copy and paste the test into a hex editor this is what I get:

[code]

There is no "\r".

Also, if I view the file with a Microsoft tool for inspecting Open XML files that can reflect it back to code this is what it shows:

![screen shot 2018-03-16 at 20 40 39](https://user-images.githubusercontent.com/94267/37543725-6adee158-295a-11e8-9

[2018-03-16 21:31] RaFaeL-NN commented on #156
Because with 0A without 0D I only get this :(

![m3](https://user-images.githubusercontent.com/34895749/37545580-5194b1ee-297a-11e8-915f-53366cea678f.PNG)
[test2.xlsx](https://github.com/jmcnamara/libxlsxwriter/files/1820832/test2.xlsx)

[2018-03-17 00:12] jmcnamara commented on #156
Let's take a step back and look at this from a different point of view.

I created a small program like this:

[code]
When I run it it creates the attached file:
[wrap.xlsx](https://github.com/jmcnamara/libxlsxwriter/files/1821077/wrap.xlsx)

Which looks like this:

![aa_image](https://user-images.githubusercontent.com/94267/37549430-d0ea2b8e-2977-11e8-8837-3c7c941bc19a.png)

What happens when you